{% include en-us/search/job-template/JobTemplateSearchFormMacros.htm %}
{% include en-us/search/tenant/TenantSearchFormMacros.htm %}
{% include en-us/search/host-inventory/HostInventorySearchFormMacros.htm %}
{% include en-us/search/ansible-project/AnsibleProjectSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchJobTemplate() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postJobTemplate() }}
  {%- else %}
    {{ htmForm_postJobTemplate() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteJobTemplate() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportJobTemplate() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterJobTemplate() }}
  {%- else %}
  {%- endif %}
{%- endif %}
