{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleJobTemplatePage %}
    <title>{% if resultCount == 0 %}no job template found{% else %}job templates{% endif %}</title>
{%- endblock htmTitleJobTemplatePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/job-template/JobTemplate.css"/>
{%- block htmStylesJobTemplatePage %}
{%- endblock htmStylesJobTemplatePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleJobTemplatePage %}
{%- endblock htmStyleJobTemplatePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsJobTemplatePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/job-template/JobTemplate.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/job-template/JobTemplateSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/tenant/Tenant.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/host-inventory/HostInventory.js"></script>
{%- endblock htmScriptsJobTemplatePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptJobTemplatePage %}
    <script>

      function jsWebsocketJobTemplate(jobTemplateName, vars, $response) {
{%- block jsWebsocketJobTemplatePage %}{%- endblock %}
      }

      function jsTooltipJobTemplate(e, feature) {
{%- block jsTooltipJobTemplatePage %}{%- endblock %}
      }

      function htmTooltipJobTemplate(feature, layer) {
        return `{%- block htmTooltipJobTemplatePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipJobTemplatePage %}`;
      }

      function facetChangeJobTemplateSuccess(e) {
        var l = e.querySelector('.pageForm .listJobTemplate')?.value;
        if(l)
          window.listJobTemplate = JSON.parse(l);
{% block facetChangeJobTemplateSuccess %}{%- endblock facetJobTemplateSuccess %}
      }
      function facetChangeJobTemplateError(e) {
{% block facetChangeJobTemplateError %}{%- endblock facetJobTemplateError %}
      }

      function facetSimpleRangeJobTemplateSuccess(e) {
{% block facetSimpleRangeJobTemplateSuccess %}      facetChangeJobTemplateSuccess(e);{% endblock facetSimpleRangeJobTemplateSuccess %}
      }
      function facetSimpleRangeJobTemplateError(e) {
{% block facetSimpleRangeJobTemplateError %}      facetChangeJobTemplateError(e);{% endblock facetSimpleRangeJobTemplateError %}
      }
      function facetSimpleRangeJobTemplate(e) {
        facetSimpleRange(e, facetSimpleRangeJobTemplateSuccess, facetSimpleRangeJobTemplateError);
      }

      function facetRangeTimeZoneJobTemplateSuccess(e) {
{% block facetRangeTimeZoneJobTemplateSuccess %}      facetChangeJobTemplateSuccess(e);{% endblock facetRangeTimeZoneJobTemplateSuccess %}
      }
      function facetRangeTimeZoneJobTemplateError(e) {
{% block facetRangeTimeZoneJobTemplateError %}      facetChangeJobTemplateError(e);{%- endblock facetRangeTimeZoneJobTemplateError %}
      }
      function facetRangeTimeZoneJobTemplate(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneJobTemplateSuccess, facetRangeTimeZoneJobTemplateError);
      }

      function facetRangeGapChangeJobTemplateSuccess(e) {
{% block facetRangeGapChangeJobTemplateSuccess %}      facetChangeJobTemplateSuccess(e);{% endblock facetRangeGapChangeJobTemplateSuccess %}
      }
      function facetRangeGapChangeJobTemplateError(e) {
{% block facetRangeGapChangeJobTemplateError %}      facetChangeJobTemplateError(e);{%- endblock facetRangeGapChangeJobTemplateError %}
      }
      function facetRangeGapChangeJobTemplate(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeJobTemplateSuccess, facetRangeGapChangeJobTemplateError);
      }

      function facetRangeStartChangeJobTemplateSuccess(e) {
{% block facetRangeStartChangeJobTemplateSuccess %}      facetChangeJobTemplateSuccess(e);{% endblock facetRangeStartChangeJobTemplateSuccess %}
      }
      function facetRangeStartChangeJobTemplateError(e) {
{% block facetRangeStartChangeJobTemplateError %}      facetChangeJobTemplateError(e);{%- endblock facetRangeStartChangeJobTemplateError %}
      }
      function facetRangeStartChangeJobTemplate(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeJobTemplateSuccess, facetRangeStartChangeJobTemplateError);
      }

      function facetRangeEndChangeJobTemplateSuccess(e) {
{% block facetRangeEndChangeJobTemplateSuccess %}      facetChangeJobTemplateSuccess(e);{% endblock facetRangeEndChangeJobTemplateSuccess %}
      }
      function facetRangeEndChangeJobTemplateError(e) {
{% block facetRangeEndChangeJobTemplateError %}      facetChangeJobTemplateError(e);{%- endblock facetRangeEndChangeJobTemplateError %}
      }
      function facetRangeEndChangeJobTemplate(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeJobTemplateSuccess, facetRangeEndChangeJobTemplateError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var jobTemplateName = {% if result.jobTemplateName is defined %}{{ result.jobTemplateName | tojson }}{% else %}null{% endif %};

          function relate_tenantResource(event) {
            suggestJobTemplateTenantResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + event.target.value }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.tenantResource is defined %}{'name':'fq','value':'tenantResource:{{ result.tenantResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#POST_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#POST_tenantResource')?.addEventListener('focus', relate_tenantResource);
          document.querySelector('#PATCH_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#PATCH_tenantResource')?.addEventListener('focus', relate_tenantResource);
          function relate_inventoryResource(event) {
            suggestJobTemplateInventoryResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + event.target.value }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,inventoryResource,pk,editPage,objectTitle' } ] : [{%- if result.inventoryResource is defined %}{'name':'fq','value':'inventoryResource:{{ result.inventoryResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#POST_inventoryResource')?.addEventListener('input', relate_inventoryResource);
          document.querySelector('#POST_inventoryResource')?.addEventListener('focus', relate_inventoryResource);
          document.querySelector('#PATCH_inventoryResource')?.addEventListener('input', relate_inventoryResource);
          document.querySelector('#PATCH_inventoryResource')?.addEventListener('focus', relate_inventoryResource);
        if(jobTemplateName == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.jobTemplateName is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listJobTemplate')?.value;
        if(l)
          window.listJobTemplate = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneJobTemplate);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneJobTemplate);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneJobTemplate);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeJobTemplate);
        pageGraphJobTemplate();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qJobTemplate_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('JobTemplate', event.target, document.querySelector('#qJobTemplateDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qJobTemplate_rows')?.addEventListener('change', event => {
          paramChange('JobTemplate', event.target, document.querySelector('#qJobTemplateDiv_rows'));
        });

        document.querySelector('#qJobTemplate_start')?.addEventListener('change', event => {
          paramChange('JobTemplate', event.target, document.querySelector('#qJobTemplateDiv_start'));
        });


        var submitForm_patchJobTemplate = document.querySelector('#htmForm_patchJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          patchJobTemplate(null, document.querySelector('#htmForm_patchJobTemplate'), document.querySelector('#htmFormButton_patchJobTemplate'), event.target.getAttribute('data-jobTemplateName'));
          return false;
        });

        var submitForm_postJobTemplate = document.querySelector('#htmForm_postJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          postJobTemplate(document.querySelector('#htmForm_postJobTemplate')
          , document.querySelector('#htmFormButton_postJobTemplate')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteJobTemplate = document.querySelector('#htmForm_deleteJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          deleteJobTemplate(event.target, event.target.getAttribute('data-jobTemplateName'));
          return false;
        });

        var submitForm_putimportJobTemplate = document.querySelector('#htmForm_putimportJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          putimportJobTemplate(document.querySelector('#htmForm_putimportJobTemplate'), document.querySelector('#htmFormButton_putimportJobTemplate'));
          return false;
        });

        var submitForm_searchpageJobTemplate = document.querySelector('#htmForm_searchpageJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageJobTemplate();
          return false;
        });

        var submitForm_deletefilterJobTemplate = document.querySelector('#htmForm_deletefilterJobTemplate')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterJobTemplate')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterJobTemplate(event.target);
          return false;
        });
{%- block htmScriptInitJobTemplatePage %}{%- endblock htmScriptInitJobTemplatePage %}
      });
    </script>
{%- endblock htmScriptJobTemplatePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketJobTemplatePage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketJobTemplate(websocketJobTemplateInner);
{% endif %}
{%- endblock websocketJobTemplatePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlJobTemplatePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlJobTemplatePage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-JobTemplate">back to all job templates</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-JobTemplate" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-excavator"></i>
                  all job templates
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search job templates
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartJobTemplatePage %}
{% include en-us/search/job-template/JobTemplateSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-JobTemplate">back to all job templates</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-JobTemplate" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-excavator"></i>
              all job templates
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no job template found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-excavator"></i>
            </div>
            <span class="wa-heading-m ">no job template found</span>
            <p class="wa-caption-l ">A job template to be run on a computer in Ansible Automation Platform. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/job-template/JobTemplateSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/job-template" id="JobTemplateForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listJobTemplate" id="listJobTemplate" class="listJobTemplate"  value='{{ toJsonArrayStringInApostrophes(listJobTemplate) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/job-template/JobTemplateSearchForm.htm %}
{%- endblock htmBodyStartJobTemplatePage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/job-template/JobTemplateSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/job-template/JobTemplateSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleJobTemplatePage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/job-template/JobTemplatePaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-tenantResource">
                      <wa-button variant="brand" slot="trigger" caret>tenant</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_tenantResource'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-tenantResource-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by tenant ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_tenantResource'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-tenantResource-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by tenant descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-jobTemplateName">
                      <wa-button variant="brand" slot="trigger" caret>job template name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_jobTemplateName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-jobTemplateName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by job template name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_jobTemplateName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-jobTemplateName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by job template name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-jobTemplateDescription">
                      <wa-button variant="brand" slot="trigger" caret>job template description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_jobTemplateDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-jobTemplateDescription-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by job template description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortJobTemplate_jobTemplateDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-JobTemplate').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-jobTemplateDescription-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by job template description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listJobTemplate%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="fa-duotone fa-regular fa-excavator"></i>
                      <span>{{ item.tenantResource | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.jobTemplateName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.jobTemplateDescription | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnTenantResource is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnJobTemplateName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnJobTemplateDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/job-template/JobTemplatePaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleJobTemplatePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndJobTemplatePage %}
{%- include en-us/search/job-template/JobTemplateLocation.htm %}
{%- endblock htmBodyEndJobTemplatePage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
