{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleHostCredentialPage %}
    <title>{% if resultCount == 0 %}no host credential found{% else %}host credentials{% endif %}</title>
{%- endblock htmTitleHostCredentialPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/host-credential/HostCredential.css"/>
{%- block htmStylesHostCredentialPage %}
{%- endblock htmStylesHostCredentialPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleHostCredentialPage %}
{%- endblock htmStyleHostCredentialPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsHostCredentialPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/host-credential/HostCredential.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/host-credential/HostCredentialSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/tenant/Tenant.js"></script>
{%- endblock htmScriptsHostCredentialPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptHostCredentialPage %}
    <script>

      function jsWebsocketHostCredential(credentialResource, vars, $response) {
{%- block jsWebsocketHostCredentialPage %}{%- endblock %}
      }

      function jsTooltipHostCredential(e, feature) {
{%- block jsTooltipHostCredentialPage %}{%- endblock %}
      }

      function htmTooltipHostCredential(feature, layer) {
        return `{%- block htmTooltipHostCredentialPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipHostCredentialPage %}`;
      }

      function facetChangeHostCredentialSuccess(e) {
        var l = e.querySelector('.pageForm .listHostCredential')?.value;
        if(l)
          window.listHostCredential = JSON.parse(l);
{% block facetChangeHostCredentialSuccess %}{%- endblock facetHostCredentialSuccess %}
      }
      function facetChangeHostCredentialError(e) {
{% block facetChangeHostCredentialError %}{%- endblock facetHostCredentialError %}
      }

      function facetSimpleRangeHostCredentialSuccess(e) {
{% block facetSimpleRangeHostCredentialSuccess %}      facetChangeHostCredentialSuccess(e);{% endblock facetSimpleRangeHostCredentialSuccess %}
      }
      function facetSimpleRangeHostCredentialError(e) {
{% block facetSimpleRangeHostCredentialError %}      facetChangeHostCredentialError(e);{% endblock facetSimpleRangeHostCredentialError %}
      }
      function facetSimpleRangeHostCredential(e) {
        facetSimpleRange(e, facetSimpleRangeHostCredentialSuccess, facetSimpleRangeHostCredentialError);
      }

      function facetRangeTimeZoneHostCredentialSuccess(e) {
{% block facetRangeTimeZoneHostCredentialSuccess %}      facetChangeHostCredentialSuccess(e);{% endblock facetRangeTimeZoneHostCredentialSuccess %}
      }
      function facetRangeTimeZoneHostCredentialError(e) {
{% block facetRangeTimeZoneHostCredentialError %}      facetChangeHostCredentialError(e);{%- endblock facetRangeTimeZoneHostCredentialError %}
      }
      function facetRangeTimeZoneHostCredential(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneHostCredentialSuccess, facetRangeTimeZoneHostCredentialError);
      }

      function facetRangeGapChangeHostCredentialSuccess(e) {
{% block facetRangeGapChangeHostCredentialSuccess %}      facetChangeHostCredentialSuccess(e);{% endblock facetRangeGapChangeHostCredentialSuccess %}
      }
      function facetRangeGapChangeHostCredentialError(e) {
{% block facetRangeGapChangeHostCredentialError %}      facetChangeHostCredentialError(e);{%- endblock facetRangeGapChangeHostCredentialError %}
      }
      function facetRangeGapChangeHostCredential(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeHostCredentialSuccess, facetRangeGapChangeHostCredentialError);
      }

      function facetRangeStartChangeHostCredentialSuccess(e) {
{% block facetRangeStartChangeHostCredentialSuccess %}      facetChangeHostCredentialSuccess(e);{% endblock facetRangeStartChangeHostCredentialSuccess %}
      }
      function facetRangeStartChangeHostCredentialError(e) {
{% block facetRangeStartChangeHostCredentialError %}      facetChangeHostCredentialError(e);{%- endblock facetRangeStartChangeHostCredentialError %}
      }
      function facetRangeStartChangeHostCredential(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeHostCredentialSuccess, facetRangeStartChangeHostCredentialError);
      }

      function facetRangeEndChangeHostCredentialSuccess(e) {
{% block facetRangeEndChangeHostCredentialSuccess %}      facetChangeHostCredentialSuccess(e);{% endblock facetRangeEndChangeHostCredentialSuccess %}
      }
      function facetRangeEndChangeHostCredentialError(e) {
{% block facetRangeEndChangeHostCredentialError %}      facetChangeHostCredentialError(e);{%- endblock facetRangeEndChangeHostCredentialError %}
      }
      function facetRangeEndChangeHostCredential(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeHostCredentialSuccess, facetRangeEndChangeHostCredentialError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var credentialResource = {% if result.credentialResource is defined %}{{ result.credentialResource | tojson }}{% else %}null{% endif %};

          function relate_tenantResource(event) {
            suggestHostCredentialTenantResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,tenantResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.tenantResource is defined %}{'name':'fq','value':'tenantResource:{{ result.tenantResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#HostCredential_POST_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#HostCredential_POST_tenantResource')?.addEventListener('focus', relate_tenantResource);
          document.querySelector('#HostCredential_PATCH_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#HostCredential_PATCH_tenantResource')?.addEventListener('focus', relate_tenantResource);
        if(credentialResource == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.credentialResource is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listHostCredential')?.value;
        if(l)
          window.listHostCredential = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneHostCredential);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneHostCredential);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneHostCredential);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeHostCredential);
        pageGraphHostCredential();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qHostCredential_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('HostCredential', event.target, document.querySelector('#qHostCredentialDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qHostCredential_rows')?.addEventListener('change', event => {
          paramChange('HostCredential', event.target, document.querySelector('#qHostCredentialDiv_rows'));
        });

        document.querySelector('#qHostCredential_start')?.addEventListener('change', event => {
          paramChange('HostCredential', event.target, document.querySelector('#qHostCredentialDiv_start'));
        });


        var submitForm_patchHostCredential = document.querySelector('#htmForm_patchHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          patchHostCredential(null, document.querySelector('#htmForm_patchHostCredential'), document.querySelector('#htmFormButton_patchHostCredential'), event.target.getAttribute('data-credentialResource'));
          return false;
        });

        var submitForm_postHostCredential = document.querySelector('#htmForm_postHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          postHostCredential(document.querySelector('#htmForm_postHostCredential')
          , document.querySelector('#htmFormButton_postHostCredential')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteHostCredential = document.querySelector('#htmForm_deleteHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          deleteHostCredential(event.target, event.target.getAttribute('data-credentialResource'));
          return false;
        });

        var submitForm_putimportHostCredential = document.querySelector('#htmForm_putimportHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          putimportHostCredential(document.querySelector('#htmForm_putimportHostCredential'), document.querySelector('#htmFormButton_putimportHostCredential'));
          return false;
        });

        var submitForm_searchpageHostCredential = document.querySelector('#htmForm_searchpageHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageHostCredential();
          return false;
        });

        var submitForm_deletefilterHostCredential = document.querySelector('#htmForm_deletefilterHostCredential')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterHostCredential')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterHostCredential(event.target);
          return false;
        });

        document.querySelector('#htmFormButton_postTenant')?.addEventListener('click', event => {
          event.preventDefault();
          postTenant(document.querySelector('#htmForm_postTenant')
              , document.querySelector('#htmFormButton_postTenant')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
              });
        });
{%- block htmScriptInitHostCredentialPage %}{%- endblock htmScriptInitHostCredentialPage %}
      });
    </script>
{%- endblock htmScriptHostCredentialPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketHostCredentialPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketHostCredential(websocketHostCredentialInner);
{% endif %}
{%- endblock websocketHostCredentialPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlHostCredentialPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlHostCredentialPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-HostCredential">back to all host credentials</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-HostCredential" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-input-password"></i>
                  all host credentials
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search host credentials
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartHostCredentialPage %}
{% include en-us/search/host-credential/HostCredentialSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-HostCredential">back to all host credentials</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-HostCredential" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-input-password"></i>
              all host credentials
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no host credential found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-input-password"></i>
            </div>
            <span class="wa-heading-m ">no host credential found</span>
            <p class="wa-caption-l ">A managed host credential. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/host-credential/HostCredentialSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/host-credential" id="HostCredentialForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listHostCredential" id="listHostCredential" class="listHostCredential"  value='{{ toJsonArrayStringInApostrophes(listHostCredential) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/host-credential/HostCredentialSearchForm.htm %}
{%- endblock htmBodyStartHostCredentialPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/host-credential/HostCredentialSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/host-credential/HostCredentialSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleHostCredentialPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/host-credential/HostCredentialPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-tenantResource">
                      <wa-button variant="brand" slot="trigger" caret>tenant auth resource</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_tenantResource'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-tenantResource-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by tenant auth resource ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_tenantResource'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-tenantResource-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by tenant auth resource descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-credentialName">
                      <wa-button variant="brand" slot="trigger" caret>credential name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_credentialName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-credentialName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by credential name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_credentialName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-credentialName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by credential name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-credentialDescription">
                      <wa-button variant="brand" slot="trigger" caret>credential description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_credentialDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-credentialDescription-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by credential description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHostCredential_credentialDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-HostCredential').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-credentialDescription-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by credential description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listHostCredential%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="{{ FONTAWESOME_STYLE }} fa-input-password"></i>
                      <span>{{ item.tenantResource | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.credentialName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.credentialDescription | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnTenantResource is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnCredentialName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnCredentialDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/host-credential/HostCredentialPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleHostCredentialPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndHostCredentialPage %}
{%- include en-us/search/host-credential/HostCredentialLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndHostCredentialPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
