
{%- macro htmButton_patchHostCredential() %}<wa-button variant="brand" id="htmButton_patchHostCredential"  data-dialog="open patchHostCredentialDialog" data-credentialResource={{ result.credentialResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmButton_postHostCredential() %}<wa-button variant="brand" id="htmButton_postHostCredential"  data-dialog="open postHostCredentialDialog" data-credentialResource={{ result.credentialResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmButton_deleteHostCredential() %}<wa-button variant="brand" id="htmButton_deleteHostCredential" data-credentialResource={{ result.credentialResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmButton_putimportHostCredential() %}<wa-button variant="brand" id="htmButton_putimportHostCredential"  data-dialog="open putimportHostCredentialDialog" data-credentialResource={{ result.credentialResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmButton_deletefilterHostCredential() %}<wa-button variant="brand" id="htmButton_deletefilterHostCredential" data-credentialResource={{ result.credentialResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}
          <div id="htmSearchForm">
            <wa-scroller>
              <wa-button-group>
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
                <wa-button variant="brand" id="refreshThisHostCredentialGenPage"
                     onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'credentialResource:{{ result.credentialResource }}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisHostCredentialGenPage')); }, function() { addError(document.querySelector('#refreshThisHostCredentialGenPage')); }); return false; ">
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                  refresh
                </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
                <wa-button variant="brand" id="refreshAllHostCredentialGenPage{{ result.credentialResource | e }}"
                     onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllHostCredentialGenPage{{ result.credentialResource | e }}')); }, function() { addError(document.querySelector('#refreshAllHostCredentialGenPage{{ result.credentialResource | e }}')); }); "
                    >
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                  refresh all 
                </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if 'PATCH' in scopes %}
  {%- if resultCount > 0 %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_patchHostCredential() }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postHostCredential() }}
  {%- else %}
    {{ htmButton_postHostCredential() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is defined %}
    {{ htmButton_deleteHostCredential() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportHostCredential() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is not defined %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_deletefilterHostCredential() }}
    {%- endif %}
  {%- endif %}
{%- endif %}

              </wa-button-group>
            </wa-scroller>
          </div>
