{%- macro inputPkHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="HostCredential_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_pk setPk classHostCredential inputHostCredential{{ result.credentialResource }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_pk setPk classHostCredential inputHostCredential{{ result.credentialResource }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_pk valuePk classHostCredential inputHostCredential{{ result.credentialResource }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_created datetimepicker setCreated classHostCredential inputHostCredential{{ result.credentialResource }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="HostCredential_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_modified datetimepicker setModified classHostCredential inputHostCredential{{ result.credentialResource }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="HostCredential_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="HostCredential_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_archived classHostCredential inputHostCredential{{ result.credentialResource }}Archived "
                      name="setArchived"
                      data-credentialResource={{ result.credentialResource | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="HostCredential_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="HostCredential_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_archived classHostCredential inputHostCredential{{ result.credentialResource }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_archived classHostCredential inputHostCredential{{ result.credentialResource }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_archived setArchived valueArchived classHostCredential inputHostCredential{{ result.credentialResource }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputTenantResourceHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_tenantResource">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="{{ idPrefix }}HostCredential_{{classApiMethodMethod}}_tenantResource{{ idSuffix }}_clear"
                        class="label-on-left HostCredential_classApiMethodMethod}}_tenantResource_clear tenantResource_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="tenant auth resource"
                      label="tenant auth resource"
                      hint="The unique authorization resource for the tenant for multi-tenancy"
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_tenantResource valueObjectSuggest suggestTenantResource "
                      name="setTenantResource"
                      id="{{ idPrefix }}HostCredential_{{classApiMethodMethod}}_tenantResource{{ idSuffix }}"
                      data-list="listHostCredentialTenantResource_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod or 'POST' == classApiMethodMethod -%}
                      value="{{result.tenantResource | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmTenantResourceHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputTenantResourceHostCredentialPage(authForWrite=authForWrite, authForRead=authForRead, idSuffix=idSuffix) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a tenant to this host credential
                </div>
                <ul class="label-on-left-ul " id="listHostCredentialTenantResource_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postTenant(idSuffix='_HostCredential_POST_tenantResource') }}
                  <wa-button
                       id="HostCredential_{{classApiMethodMethod}}_tenantResource_add"
                       data-dialog="open postTenantDialog"
                      >add a tenant</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputCredentialNameHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_credentialName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] credential name"
                      label="credential name"
                      hint="The name of the credential in AAP. "
                      id="HostCredential_{{classApiMethodMethod}}_credentialName"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialName setCredentialName classHostCredential inputHostCredential{{ result.credentialResource }}CredentialName "
                      name="setCredentialName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialName setCredentialName classHostCredential inputHostCredential{{ result.credentialResource }}CredentialName "
                      name="setCredentialName"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialName valueCredentialName classHostCredential inputHostCredential{{ result.credentialResource }}CredentialName "
                      name="credentialName"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.credentialName | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCredentialNameHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCredentialNameHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCredentialDescriptionHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_credentialDescription">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] credential description"
                      label="credential description"
                      hint="The description of the credential in AAP. "
                      id="HostCredential_{{classApiMethodMethod}}_credentialDescription"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialDescription setCredentialDescription classHostCredential inputHostCredential{{ result.credentialResource }}CredentialDescription "
                      name="setCredentialDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialDescription setCredentialDescription classHostCredential inputHostCredential{{ result.credentialResource }}CredentialDescription "
                      name="setCredentialDescription"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_credentialDescription valueCredentialDescription classHostCredential inputHostCredential{{ result.credentialResource }}CredentialDescription "
                      name="credentialDescription"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.credentialDescription | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCredentialDescriptionHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCredentialDescriptionHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputUserNameHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_userName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] user name"
                      label="user name"
                      hint="The Ansible Automation Platform user name to connect to hosts. "
                      id="HostCredential_{{classApiMethodMethod}}_userName"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_userName setUserName classHostCredential inputHostCredential{{ result.credentialResource }}UserName "
                      name="setUserName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_userName setUserName classHostCredential inputHostCredential{{ result.credentialResource }}UserName "
                      name="setUserName"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_userName valueUserName classHostCredential inputHostCredential{{ result.credentialResource }}UserName "
                      name="userName"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.userName | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmUserNameHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputUserNameHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputBecomePasswordHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_becomePassword">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] become password"
                      label="become password"
                      type="password"
                      hint="The Ansible Automation become password to run privileged commands on hosts. "
                      id="HostCredential_{{classApiMethodMethod}}_becomePassword"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomePassword setBecomePassword classHostCredential inputHostCredential{{ result.credentialResource }}BecomePassword "
                      name="setBecomePassword"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomePassword setBecomePassword classHostCredential inputHostCredential{{ result.credentialResource }}BecomePassword "
                      name="setBecomePassword"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomePassword valueBecomePassword classHostCredential inputHostCredential{{ result.credentialResource }}BecomePassword "
                      name="becomePassword"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.becomePassword | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmBecomePasswordHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputBecomePasswordHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPasswordHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_password">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] password"
                      label="password"
                      type="password"
                      hint="The Ansible Automation Platform password to connect to hosts. "
                      id="HostCredential_{{classApiMethodMethod}}_password"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_password setPassword classHostCredential inputHostCredential{{ result.credentialResource }}Password "
                      name="setPassword"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_password setPassword classHostCredential inputHostCredential{{ result.credentialResource }}Password "
                      name="setPassword"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_password valuePassword classHostCredential inputHostCredential{{ result.credentialResource }}Password "
                      name="password"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.password | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPasswordHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPasswordHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputBecomeMethodHostCredentialPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_becomeMethod">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] become method"
                      label="become method"
                      hint="The Ansible Automation Platform become method to run privileged commands on hosts. "
                      id="HostCredential_{{classApiMethodMethod}}_becomeMethod"
  {%- if "Page" == classApiMethodMethod %}
                      data-credentialResource={{ result.credentialResource | tojson }}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomeMethod setBecomeMethod classHostCredential inputHostCredential{{ result.credentialResource }}BecomeMethod "
                      name="setBecomeMethod"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomeMethod setBecomeMethod classHostCredential inputHostCredential{{ result.credentialResource }}BecomeMethod "
                      name="setBecomeMethod"
    {%- else %}
                      class="label-on-left HostCredential_{{classApiMethodMethod}}_becomeMethod valueBecomeMethod classHostCredential inputHostCredential{{ result.credentialResource }}BecomeMethod "
                      name="becomeMethod"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.becomeMethod | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmBecomeMethodHostCredentialPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputBecomeMethodHostCredentialPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchHostCredential() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchHostCredential" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchHostCredential"
                >Modify host credential</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchHostCredential"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchHostCredential(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchHostCredentialDialog" label="Modify host credential">
          <form id="htmForm_patchHostCredential" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="credential-details">
              <div slot="summary">
                <span>credential details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchHostCredential() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postHostCredential() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postHostCredential" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postHostCredential"
                >Create a host credential</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postHostCredential"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postHostCredential(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postHostCredentialDialog" label="Create a host credential">
          <form id="htmForm_postHostCredential" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="credential-details">
              <div slot="summary">
                <span>credential details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postHostCredential() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteHostCredential() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteHostCredential" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteHostCredential"
                >Delete host credential</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteHostCredential"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteHostCredential(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteHostCredentialDialog" label="Delete host credential">
          <form id="htmForm_deleteHostCredential" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteHostCredential() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportHostCredential() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportHostCredential" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportHostCredential"
                >Import host credentials</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportHostCredential"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportHostCredential(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportHostCredentialDialog" label="Import host credentials">
          <form id="htmForm_putimportHostCredential" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'credentialResource': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportHostCredential() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageHostCredential(idSuffix='') %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageHostCredentialDialog" label="Search host credentials">
          <div id="htmForm_searchpageHostCredential" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPkHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCreatedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmModifiedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmArchivedHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmTenantResourceHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="credential-details">
              <div slot="summary">
                <span>credential details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCredentialDescriptionHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmUserNameHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomePasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPasswordHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmBecomeMethodHostCredentialPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterHostCredential() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterHostCredential" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterHostCredential"
                >Delete host credential</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterHostCredential"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterHostCredential(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterHostCredentialDialog" label="Delete host credential">
          <form id="htmForm_deletefilterHostCredential" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterHostCredential() }}
        </wa-dialog>
{%- endmacro %}
