
{%- macro htmButton_patchTenantRequested() %}<wa-button variant="brand" id="htmButton_patchTenantRequested"  data-dialog="open patchTenantRequestedDialog" data-tenantResource={{ result.tenantResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmButton_postTenantRequested() %}<wa-button variant="brand" id="htmButton_postTenantRequested"  data-dialog="open postTenantRequestedDialog" data-tenantResource={{ result.tenantResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmButton_deleteTenantRequested() %}<wa-button variant="brand" id="htmButton_deleteTenantRequested" data-tenantResource={{ result.tenantResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmButton_putimportTenantRequested() %}<wa-button variant="brand" id="htmButton_putimportTenantRequested"  data-dialog="open putimportTenantRequestedDialog" data-tenantResource={{ result.tenantResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmButton_deletefilterTenantRequested() %}<wa-button variant="brand" id="htmButton_deletefilterTenantRequested" data-tenantResource={{ result.tenantResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}
          <div id="htmSearchForm">
            <wa-scroller>
              <wa-button-group>
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
                <wa-button variant="brand" id="refreshThisTenantRequestedGenPage"
                     onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'tenantResource:{{ result.tenantResource }}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisTenantRequestedGenPage')); }, function() { addError(document.querySelector('#refreshThisTenantRequestedGenPage')); }); return false; ">
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                  refresh
                </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
                <wa-button variant="brand" id="refreshAllTenantRequestedGenPage{{ result.tenantResource | e }}"
                     onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllTenantRequestedGenPage{{ result.tenantResource | e }}')); }, function() { addError(document.querySelector('#refreshAllTenantRequestedGenPage{{ result.tenantResource | e }}')); }); "
                    >
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                  refresh all 
                </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if 'PATCH' in scopes %}
  {%- if resultCount > 0 %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_patchTenantRequested() }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postTenantRequested() }}
  {%- else %}
    {{ htmButton_postTenantRequested() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is defined %}
    {{ htmButton_deleteTenantRequested() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportTenantRequested() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is not defined %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_deletefilterTenantRequested() }}
    {%- endif %}
  {%- endif %}
{%- endif %}

              </wa-button-group>
            </wa-scroller>
          </div>
