{% include en-us/search/host-inventory/HostInventorySearchFormMacros.htm %}
{% include en-us/search/tenant/TenantSearchFormMacros.htm %}
{% include en-us/search/host/HostSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchHostInventory() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postHostInventory() }}
  {%- else %}
    {{ htmForm_postHostInventory() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteHostInventory() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportHostInventory() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterHostInventory() }}
  {%- else %}
  {%- endif %}
{%- endif %}
