{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleTenantIntentPage %}
    <title>{% if resultCount == 0 %}no tenant intent found{% else %}tenant intents{% endif %}</title>
{%- endblock htmTitleTenantIntentPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/intent/tenant/TenantIntent.css"/>
{%- block htmStylesTenantIntentPage %}
{%- endblock htmStylesTenantIntentPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleTenantIntentPage %}
{%- endblock htmStyleTenantIntentPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsTenantIntentPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/intent/tenant/TenantIntent.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/intent/tenant/TenantIntentSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/host-inventory/HostInventory.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/ansible-project/AnsibleProject.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/requested/tenant/TenantRequested.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/discovered/tenant/TenantDiscovered.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/realized/tenant/TenantRealized.js"></script>
{%- endblock htmScriptsTenantIntentPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptTenantIntentPage %}
    <script>

      function jsWebsocketTenantIntent(tenantResource, vars, $response) {
{%- block jsWebsocketTenantIntentPage %}{%- endblock %}
      }

      function jsTooltipTenantIntent(e, feature) {
{%- block jsTooltipTenantIntentPage %}{%- endblock %}
      }

      function htmTooltipTenantIntent(feature, layer) {
        return `{%- block htmTooltipTenantIntentPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipTenantIntentPage %}`;
      }

      function facetChangeTenantIntentSuccess(e) {
        var l = e.querySelector('.pageForm .listTenantIntent')?.value;
        if(l)
          window.listTenantIntent = JSON.parse(l);
{% block facetChangeTenantIntentSuccess %}{%- endblock facetTenantIntentSuccess %}
      }
      function facetChangeTenantIntentError(e) {
{% block facetChangeTenantIntentError %}{%- endblock facetTenantIntentError %}
      }

      function facetSimpleRangeTenantIntentSuccess(e) {
{% block facetSimpleRangeTenantIntentSuccess %}      facetChangeTenantIntentSuccess(e);{% endblock facetSimpleRangeTenantIntentSuccess %}
      }
      function facetSimpleRangeTenantIntentError(e) {
{% block facetSimpleRangeTenantIntentError %}      facetChangeTenantIntentError(e);{% endblock facetSimpleRangeTenantIntentError %}
      }
      function facetSimpleRangeTenantIntent(e) {
        facetSimpleRange(e, facetSimpleRangeTenantIntentSuccess, facetSimpleRangeTenantIntentError);
      }

      function facetRangeTimeZoneTenantIntentSuccess(e) {
{% block facetRangeTimeZoneTenantIntentSuccess %}      facetChangeTenantIntentSuccess(e);{% endblock facetRangeTimeZoneTenantIntentSuccess %}
      }
      function facetRangeTimeZoneTenantIntentError(e) {
{% block facetRangeTimeZoneTenantIntentError %}      facetChangeTenantIntentError(e);{%- endblock facetRangeTimeZoneTenantIntentError %}
      }
      function facetRangeTimeZoneTenantIntent(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneTenantIntentSuccess, facetRangeTimeZoneTenantIntentError);
      }

      function facetRangeGapChangeTenantIntentSuccess(e) {
{% block facetRangeGapChangeTenantIntentSuccess %}      facetChangeTenantIntentSuccess(e);{% endblock facetRangeGapChangeTenantIntentSuccess %}
      }
      function facetRangeGapChangeTenantIntentError(e) {
{% block facetRangeGapChangeTenantIntentError %}      facetChangeTenantIntentError(e);{%- endblock facetRangeGapChangeTenantIntentError %}
      }
      function facetRangeGapChangeTenantIntent(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeTenantIntentSuccess, facetRangeGapChangeTenantIntentError);
      }

      function facetRangeStartChangeTenantIntentSuccess(e) {
{% block facetRangeStartChangeTenantIntentSuccess %}      facetChangeTenantIntentSuccess(e);{% endblock facetRangeStartChangeTenantIntentSuccess %}
      }
      function facetRangeStartChangeTenantIntentError(e) {
{% block facetRangeStartChangeTenantIntentError %}      facetChangeTenantIntentError(e);{%- endblock facetRangeStartChangeTenantIntentError %}
      }
      function facetRangeStartChangeTenantIntent(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeTenantIntentSuccess, facetRangeStartChangeTenantIntentError);
      }

      function facetRangeEndChangeTenantIntentSuccess(e) {
{% block facetRangeEndChangeTenantIntentSuccess %}      facetChangeTenantIntentSuccess(e);{% endblock facetRangeEndChangeTenantIntentSuccess %}
      }
      function facetRangeEndChangeTenantIntentError(e) {
{% block facetRangeEndChangeTenantIntentError %}      facetChangeTenantIntentError(e);{%- endblock facetRangeEndChangeTenantIntentError %}
      }
      function facetRangeEndChangeTenantIntent(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeTenantIntentSuccess, facetRangeEndChangeTenantIntentError);
      }
    </script>
    <script type="module">
{% if location is defined %}
      window.mapLocation = { type: 'Point', coordinates: [ {{ location.coordinates[0] }}, {{ location.coordinates[1] }} ]};
{% endif %}
{% if zoom is defined %}
      window.mapZoom = {{ zoom }};
{% endif %}
{% if pitch is defined %}
      window.mapPitch = {{ toDegree(pitch) }};
{% endif %}
      window.STATIC_BASE_URL = '{{ STATIC_BASE_URL }}';
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var tenantResource = {% if result.tenantResource is defined %}{{ result.tenantResource | tojson }}{% else %}null{% endif %};

          function relate_requested(event) {
            suggestTenantIntentRequested(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,requestedId,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.requested is defined %}{'name':'fq','value':'tenantResource:{{ result.requested }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantIntent_POST_requested')?.addEventListener('input', relate_requested);
          document.querySelector('#TenantIntent_POST_requested')?.addEventListener('focus', relate_requested);
          document.querySelector('#TenantIntent_PATCH_requested')?.addEventListener('input', relate_requested);
          document.querySelector('#TenantIntent_PATCH_requested')?.addEventListener('focus', relate_requested);
          function relate_dcmDiscovered(event) {
            suggestTenantIntentDcmDiscovered(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,tenantResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.dcmDiscovered is defined %}{'name':'fq','value':'tenantResource:{{ result.dcmDiscovered }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantIntent_POST_dcmDiscovered')?.addEventListener('input', relate_dcmDiscovered);
          document.querySelector('#TenantIntent_POST_dcmDiscovered')?.addEventListener('focus', relate_dcmDiscovered);
          document.querySelector('#TenantIntent_PATCH_dcmDiscovered')?.addEventListener('input', relate_dcmDiscovered);
          document.querySelector('#TenantIntent_PATCH_dcmDiscovered')?.addEventListener('focus', relate_dcmDiscovered);
          function relate_dcmRealized(event) {
            suggestTenantIntentDcmRealized(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,realizedId,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.dcmRealized is defined %}{'name':'fq','value':'tenantResource:{{ result.dcmRealized }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantIntent_POST_dcmRealized')?.addEventListener('input', relate_dcmRealized);
          document.querySelector('#TenantIntent_POST_dcmRealized')?.addEventListener('focus', relate_dcmRealized);
          document.querySelector('#TenantIntent_PATCH_dcmRealized')?.addEventListener('input', relate_dcmRealized);
          document.querySelector('#TenantIntent_PATCH_dcmRealized')?.addEventListener('focus', relate_dcmRealized);
          function relate_hostInventoryIds(event) {
            suggestTenantIntentHostInventoryIds(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,inventoryResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.hostInventoryIds is defined %}{'name':'fq','value':'tenantResource:{{ result.hostInventoryIds }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantIntent_POST_hostInventoryIds')?.addEventListener('input', relate_hostInventoryIds);
          document.querySelector('#TenantIntent_POST_hostInventoryIds')?.addEventListener('focus', relate_hostInventoryIds);
          document.querySelector('#TenantIntent_PATCH_hostInventoryIds')?.addEventListener('input', relate_hostInventoryIds);
          document.querySelector('#TenantIntent_PATCH_hostInventoryIds')?.addEventListener('focus', relate_hostInventoryIds);
          function relate_ansibleProjectIds(event) {
            suggestTenantIntentAnsibleProjectIds(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,ansibleProjectResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.ansibleProjectIds is defined %}{'name':'fq','value':'tenantResource:{{ result.ansibleProjectIds }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantIntent_POST_ansibleProjectIds')?.addEventListener('input', relate_ansibleProjectIds);
          document.querySelector('#TenantIntent_POST_ansibleProjectIds')?.addEventListener('focus', relate_ansibleProjectIds);
          document.querySelector('#TenantIntent_PATCH_ansibleProjectIds')?.addEventListener('input', relate_ansibleProjectIds);
          document.querySelector('#TenantIntent_PATCH_ansibleProjectIds')?.addEventListener('focus', relate_ansibleProjectIds);
        if(tenantResource == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.tenantResource is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listTenantIntent')?.value;
        if(l)
          window.listTenantIntent = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantIntent);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantIntent);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneTenantIntent);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeTenantIntent);
        pageGraphTenantIntent();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qTenantIntent_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('TenantIntent', event.target, document.querySelector('#qTenantIntentDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qTenantIntent_rows')?.addEventListener('change', event => {
          paramChange('TenantIntent', event.target, document.querySelector('#qTenantIntentDiv_rows'));
        });

        document.querySelector('#qTenantIntent_start')?.addEventListener('change', event => {
          paramChange('TenantIntent', event.target, document.querySelector('#qTenantIntentDiv_start'));
        });


        var submitForm_patchTenantIntent = document.querySelector('#htmForm_patchTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          patchTenantIntent(null, document.querySelector('#htmForm_patchTenantIntent')
              , document.querySelector('#htmFormButton_patchTenantIntent')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_postTenantIntent = document.querySelector('#htmForm_postTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          postTenantIntent(document.querySelector('#htmForm_postTenantIntent')
              , document.querySelector('#htmFormButton_postTenantIntent')
              , (json, target) => {
            window.location.href = json.editPage;
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deleteTenantIntent = document.querySelector('#htmForm_deleteTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deleteTenantIntent(event.target, event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_putimportTenantIntent = document.querySelector('#htmForm_putimportTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          putimportTenantIntent(document.querySelector('#htmForm_putimportTenantIntent')
              , document.querySelector('#htmFormButton_putimportTenantIntent')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deletefilterTenantIntent = document.querySelector('#htmForm_deletefilterTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deletefilterTenantIntent(event.target
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        document.querySelector('#htmForm_postHostInventory')?.addEventListener('submit', event => {
          event.preventDefault();
          postHostInventory(document.querySelector('#htmForm_postHostInventory')
              , document.querySelector('#htmFormButton_postHostInventory')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postAnsibleProject')?.addEventListener('submit', event => {
          event.preventDefault();
          postAnsibleProject(document.querySelector('#htmForm_postAnsibleProject')
              , document.querySelector('#htmFormButton_postAnsibleProject')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postTenantRequested')?.addEventListener('submit', event => {
          event.preventDefault();
          postTenantRequested(document.querySelector('#htmForm_postTenantRequested')
              , document.querySelector('#htmFormButton_postTenantRequested')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          postTenantDiscovered(document.querySelector('#htmForm_postTenantDiscovered')
              , document.querySelector('#htmFormButton_postTenantDiscovered')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          postTenantRealized(document.querySelector('#htmForm_postTenantRealized')
              , document.querySelector('#htmFormButton_postTenantRealized')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });
{%- block htmScriptInitTenantIntentPage %}{%- endblock htmScriptInitTenantIntentPage %}
      });
    </script>
{%- endblock htmScriptTenantIntentPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketTenantIntentPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketTenantIntent(websocketTenantIntentInner);
{% endif %}
{%- endblock websocketTenantIntentPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlTenantIntentPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlTenantIntentPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-TenantIntent">back to all tenant intents</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-TenantIntent" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
                  all tenant intents
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search tenant intents
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartTenantIntentPage %}
{% include en-us/search/intent/tenant/TenantIntentSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-TenantIntent">back to all tenant intents</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-TenantIntent" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
              all tenant intents
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no tenant intent found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
            </div>
            <span class="wa-heading-m ">no tenant intent found</span>
            <p class="wa-caption-l ">Describing the intent for a new Tenant. Tenants are separate organizations sharing the same cloud resources. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/intent/tenant/TenantIntentSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/intent/tenant" id="TenantIntentForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listTenantIntent" id="listTenantIntent" class="listTenantIntent"  value='{{ toJsonArrayStringInApostrophes(listTenantIntent) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/intent/tenant/TenantIntentSearchForm.htm %}
{%- endblock htmBodyStartTenantIntentPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/intent/tenant/TenantIntentSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/intent/tenant/TenantIntentSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleTenantIntentPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/intent/tenant/TenantIntentPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-tenantName">
                      <wa-button variant="brand" slot="trigger" caret>tenant name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantIntent_tenantName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantIntent').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-tenantName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by tenant name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantIntent_tenantName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantIntent').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-tenantName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by tenant name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantIntent_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantIntent').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantIntent_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantIntent').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listTenantIntent%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
                      <span>{{ item.tenantName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span class="white-space-pre-wrap ">{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnTenantName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/intent/tenant/TenantIntentPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleTenantIntentPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndTenantIntentPage %}
{%- include en-us/search/intent/tenant/TenantIntentLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndTenantIntentPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
