{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleTenantDiscoveredPage %}
    <title>{% if resultCount == 0 %}no discovered tenant found{% else %}discovered tenants{% endif %}</title>
{%- endblock htmTitleTenantDiscoveredPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/discovered/tenant/TenantDiscovered.css"/>
{%- block htmStylesTenantDiscoveredPage %}
{%- endblock htmStylesTenantDiscoveredPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleTenantDiscoveredPage %}
{%- endblock htmStyleTenantDiscoveredPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsTenantDiscoveredPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/discovered/tenant/TenantDiscovered.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/discovered/tenant/TenantDiscoveredSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/host-inventory/HostInventory.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/ansible-project/AnsibleProject.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/requested/tenant/TenantRequested.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/intent/tenant/TenantIntent.js"></script>
{%- endblock htmScriptsTenantDiscoveredPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptTenantDiscoveredPage %}
    <script>

      function jsWebsocketTenantDiscovered(tenantResource, vars, $response) {
{%- block jsWebsocketTenantDiscoveredPage %}{%- endblock %}
      }

      function jsTooltipTenantDiscovered(e, feature) {
{%- block jsTooltipTenantDiscoveredPage %}{%- endblock %}
      }

      function htmTooltipTenantDiscovered(feature, layer) {
        return `{%- block htmTooltipTenantDiscoveredPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipTenantDiscoveredPage %}`;
      }

      function facetChangeTenantDiscoveredSuccess(e) {
        var l = e.querySelector('.pageForm .listTenantDiscovered')?.value;
        if(l)
          window.listTenantDiscovered = JSON.parse(l);
{% block facetChangeTenantDiscoveredSuccess %}{%- endblock facetTenantDiscoveredSuccess %}
      }
      function facetChangeTenantDiscoveredError(e) {
{% block facetChangeTenantDiscoveredError %}{%- endblock facetTenantDiscoveredError %}
      }

      function facetSimpleRangeTenantDiscoveredSuccess(e) {
{% block facetSimpleRangeTenantDiscoveredSuccess %}      facetChangeTenantDiscoveredSuccess(e);{% endblock facetSimpleRangeTenantDiscoveredSuccess %}
      }
      function facetSimpleRangeTenantDiscoveredError(e) {
{% block facetSimpleRangeTenantDiscoveredError %}      facetChangeTenantDiscoveredError(e);{% endblock facetSimpleRangeTenantDiscoveredError %}
      }
      function facetSimpleRangeTenantDiscovered(e) {
        facetSimpleRange(e, facetSimpleRangeTenantDiscoveredSuccess, facetSimpleRangeTenantDiscoveredError);
      }

      function facetRangeTimeZoneTenantDiscoveredSuccess(e) {
{% block facetRangeTimeZoneTenantDiscoveredSuccess %}      facetChangeTenantDiscoveredSuccess(e);{% endblock facetRangeTimeZoneTenantDiscoveredSuccess %}
      }
      function facetRangeTimeZoneTenantDiscoveredError(e) {
{% block facetRangeTimeZoneTenantDiscoveredError %}      facetChangeTenantDiscoveredError(e);{%- endblock facetRangeTimeZoneTenantDiscoveredError %}
      }
      function facetRangeTimeZoneTenantDiscovered(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneTenantDiscoveredSuccess, facetRangeTimeZoneTenantDiscoveredError);
      }

      function facetRangeGapChangeTenantDiscoveredSuccess(e) {
{% block facetRangeGapChangeTenantDiscoveredSuccess %}      facetChangeTenantDiscoveredSuccess(e);{% endblock facetRangeGapChangeTenantDiscoveredSuccess %}
      }
      function facetRangeGapChangeTenantDiscoveredError(e) {
{% block facetRangeGapChangeTenantDiscoveredError %}      facetChangeTenantDiscoveredError(e);{%- endblock facetRangeGapChangeTenantDiscoveredError %}
      }
      function facetRangeGapChangeTenantDiscovered(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeTenantDiscoveredSuccess, facetRangeGapChangeTenantDiscoveredError);
      }

      function facetRangeStartChangeTenantDiscoveredSuccess(e) {
{% block facetRangeStartChangeTenantDiscoveredSuccess %}      facetChangeTenantDiscoveredSuccess(e);{% endblock facetRangeStartChangeTenantDiscoveredSuccess %}
      }
      function facetRangeStartChangeTenantDiscoveredError(e) {
{% block facetRangeStartChangeTenantDiscoveredError %}      facetChangeTenantDiscoveredError(e);{%- endblock facetRangeStartChangeTenantDiscoveredError %}
      }
      function facetRangeStartChangeTenantDiscovered(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeTenantDiscoveredSuccess, facetRangeStartChangeTenantDiscoveredError);
      }

      function facetRangeEndChangeTenantDiscoveredSuccess(e) {
{% block facetRangeEndChangeTenantDiscoveredSuccess %}      facetChangeTenantDiscoveredSuccess(e);{% endblock facetRangeEndChangeTenantDiscoveredSuccess %}
      }
      function facetRangeEndChangeTenantDiscoveredError(e) {
{% block facetRangeEndChangeTenantDiscoveredError %}      facetChangeTenantDiscoveredError(e);{%- endblock facetRangeEndChangeTenantDiscoveredError %}
      }
      function facetRangeEndChangeTenantDiscovered(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeTenantDiscoveredSuccess, facetRangeEndChangeTenantDiscoveredError);
      }
    </script>
    <script type="module">
{% if location is defined %}
      window.mapLocation = { type: 'Point', coordinates: [ {{ location.coordinates[0] }}, {{ location.coordinates[1] }} ]};
{% endif %}
{% if zoom is defined %}
      window.mapZoom = {{ zoom }};
{% endif %}
{% if pitch is defined %}
      window.mapPitch = {{ toDegree(pitch) }};
{% endif %}
      window.STATIC_BASE_URL = '{{ STATIC_BASE_URL }}';
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var tenantResource = {% if result.tenantResource is defined %}{{ result.tenantResource | tojson }}{% else %}null{% endif %};

          function relate_requestedId(event) {
            suggestTenantDiscoveredRequestedId(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,requestedId,requestedId,pk,editPage,objectTitle' } ] : [{%- if result.requestedId is defined %}{'name':'fq','value':'requestedId:{{ result.requestedId }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantDiscovered_POST_requestedId')?.addEventListener('input', relate_requestedId);
          document.querySelector('#TenantDiscovered_POST_requestedId')?.addEventListener('focus', relate_requestedId);
          document.querySelector('#TenantDiscovered_PATCH_requestedId')?.addEventListener('input', relate_requestedId);
          document.querySelector('#TenantDiscovered_PATCH_requestedId')?.addEventListener('focus', relate_requestedId);
          function relate_hostInventoryIds(event) {
            suggestTenantDiscoveredHostInventoryIds(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,inventoryResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.hostInventoryIds is defined %}{'name':'fq','value':'tenantResource:{{ result.hostInventoryIds }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantDiscovered_POST_hostInventoryIds')?.addEventListener('input', relate_hostInventoryIds);
          document.querySelector('#TenantDiscovered_POST_hostInventoryIds')?.addEventListener('focus', relate_hostInventoryIds);
          document.querySelector('#TenantDiscovered_PATCH_hostInventoryIds')?.addEventListener('input', relate_hostInventoryIds);
          document.querySelector('#TenantDiscovered_PATCH_hostInventoryIds')?.addEventListener('focus', relate_hostInventoryIds);
          function relate_ansibleProjectIds(event) {
            suggestTenantDiscoveredAnsibleProjectIds(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,ansibleProjectResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.ansibleProjectIds is defined %}{'name':'fq','value':'tenantResource:{{ result.ansibleProjectIds }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantDiscovered_POST_ansibleProjectIds')?.addEventListener('input', relate_ansibleProjectIds);
          document.querySelector('#TenantDiscovered_POST_ansibleProjectIds')?.addEventListener('focus', relate_ansibleProjectIds);
          document.querySelector('#TenantDiscovered_PATCH_ansibleProjectIds')?.addEventListener('input', relate_ansibleProjectIds);
          document.querySelector('#TenantDiscovered_PATCH_ansibleProjectIds')?.addEventListener('focus', relate_ansibleProjectIds);
          function relate_tenantResource(event) {
            suggestTenantDiscoveredTenantResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + (event.target.value ? event.target.value : '') }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,tenantResource,tenantResource,pk,editPage,objectTitle' } ] : [{%- if result.tenantResource is defined %}{'name':'fq','value':'tenantResource:{{ result.tenantResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#TenantDiscovered_POST_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#TenantDiscovered_POST_tenantResource')?.addEventListener('focus', relate_tenantResource);
          document.querySelector('#TenantDiscovered_PATCH_tenantResource')?.addEventListener('input', relate_tenantResource);
          document.querySelector('#TenantDiscovered_PATCH_tenantResource')?.addEventListener('focus', relate_tenantResource);
        if(tenantResource == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.tenantResource is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listTenantDiscovered')?.value;
        if(l)
          window.listTenantDiscovered = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantDiscovered);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantDiscovered);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneTenantDiscovered);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeTenantDiscovered);
        pageGraphTenantDiscovered();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qTenantDiscovered_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('TenantDiscovered', event.target, document.querySelector('#qTenantDiscoveredDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qTenantDiscovered_rows')?.addEventListener('change', event => {
          paramChange('TenantDiscovered', event.target, document.querySelector('#qTenantDiscoveredDiv_rows'));
        });

        document.querySelector('#qTenantDiscovered_start')?.addEventListener('change', event => {
          paramChange('TenantDiscovered', event.target, document.querySelector('#qTenantDiscoveredDiv_start'));
        });


        var submitForm_patchTenantDiscovered = document.querySelector('#htmForm_patchTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          patchTenantDiscovered(null, document.querySelector('#htmForm_patchTenantDiscovered')
              , document.querySelector('#htmFormButton_patchTenantDiscovered')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_postTenantDiscovered = document.querySelector('#htmForm_postTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          postTenantDiscovered(document.querySelector('#htmForm_postTenantDiscovered')
              , document.querySelector('#htmFormButton_postTenantDiscovered')
              , (json, target) => {
            window.location.href = json.editPage;
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deleteTenantDiscovered = document.querySelector('#htmForm_deleteTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deleteTenantDiscovered(event.target, event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_putimportTenantDiscovered = document.querySelector('#htmForm_putimportTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          putimportTenantDiscovered(document.querySelector('#htmForm_putimportTenantDiscovered')
              , document.querySelector('#htmFormButton_putimportTenantDiscovered')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deletefilterTenantDiscovered = document.querySelector('#htmForm_deletefilterTenantDiscovered')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deletefilterTenantDiscovered(event.target
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        document.querySelector('#htmForm_postHostInventory')?.addEventListener('submit', event => {
          event.preventDefault();
          postHostInventory(document.querySelector('#htmForm_postHostInventory')
              , document.querySelector('#htmFormButton_postHostInventory')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postAnsibleProject')?.addEventListener('submit', event => {
          event.preventDefault();
          postAnsibleProject(document.querySelector('#htmForm_postAnsibleProject')
              , document.querySelector('#htmFormButton_postAnsibleProject')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postTenantRequested')?.addEventListener('submit', event => {
          event.preventDefault();
          postTenantRequested(document.querySelector('#htmForm_postTenantRequested')
              , document.querySelector('#htmFormButton_postTenantRequested')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });

        document.querySelector('#htmForm_postTenantIntent')?.addEventListener('submit', event => {
          event.preventDefault();
          postTenantIntent(document.querySelector('#htmForm_postTenantIntent')
              , document.querySelector('#htmFormButton_postTenantIntent')
              , (json, target) => {
                addGlow(target);
                if(json['editPage'])
                  window.location.href = json['editPage'];
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
        });
{%- block htmScriptInitTenantDiscoveredPage %}{%- endblock htmScriptInitTenantDiscoveredPage %}
      });
    </script>
{%- endblock htmScriptTenantDiscoveredPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketTenantDiscoveredPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketTenantDiscovered(websocketTenantDiscoveredInner);
{% endif %}
{%- endblock websocketTenantDiscoveredPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlTenantDiscoveredPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlTenantDiscoveredPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-TenantDiscovered">back to all discovered tenants</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-TenantDiscovered" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
                  all discovered tenants
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search discovered tenants
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartTenantDiscoveredPage %}
{% include en-us/search/discovered/tenant/TenantDiscoveredSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-TenantDiscovered">back to all discovered tenants</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-TenantDiscovered" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
              all discovered tenants
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no discovered tenant found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
            </div>
            <span class="wa-heading-m ">no discovered tenant found</span>
            <p class="wa-caption-l ">An approved and discovered Tenant. Tenants are separate organizations sharing the same cloud resources. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/discovered/tenant/TenantDiscoveredSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/intent/discovered" id="TenantDiscoveredForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listTenantDiscovered" id="listTenantDiscovered" class="listTenantDiscovered"  value='{{ toJsonArrayStringInApostrophes(listTenantDiscovered) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/discovered/tenant/TenantDiscoveredSearchForm.htm %}
{%- endblock htmBodyStartTenantDiscoveredPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/discovered/tenant/TenantDiscoveredSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/discovered/tenant/TenantDiscoveredSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleTenantDiscoveredPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/discovered/tenant/TenantDiscoveredPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-requestedId">
                      <wa-button variant="brand" slot="trigger" caret>tenant requested</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_requestedId'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-requestedId-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by tenant requested ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_requestedId'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-requestedId-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by tenant requested descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-discoveredName">
                      <wa-button variant="brand" slot="trigger" caret>tenant discovered name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_discoveredName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-discoveredName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by tenant discovered name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_discoveredName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-discoveredName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by tenant discovered name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-tenantDescription">
                      <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_tenantDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-tenantDescription-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by description ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortTenantDiscovered_tenantDescription'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-TenantDiscovered').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-tenantDescription-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by description descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listTenantDiscovered%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
                      <span>{{ item.requestedId | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.discoveredName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span class="white-space-pre-wrap ">{{ item.tenantDescription | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnRequestedId is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDiscoveredName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnTenantDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/discovered/tenant/TenantDiscoveredPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleTenantDiscoveredPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndTenantDiscoveredPage %}
{%- include en-us/search/discovered/tenant/TenantDiscoveredLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndTenantDiscoveredPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
