{% include en-us/search/ansible-project/AnsibleProjectSearchFormMacros.htm %}
{% include en-us/search/tenant/TenantSearchFormMacros.htm %}
{% include en-us/search/job-template/JobTemplateSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchAnsibleProject() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postAnsibleProject() }}
  {%- else %}
    {{ htmForm_postAnsibleProject() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteAnsibleProject() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportAnsibleProject() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterAnsibleProject() }}
  {%- else %}
  {%- endif %}
{%- endif %}
