{%- macro inputPkAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="AnsibleProject_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_pk setPk classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_pk setPk classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_pk valuePk classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_created datetimepicker setCreated classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="AnsibleProject_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_modified datetimepicker setModified classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="AnsibleProject_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="AnsibleProject_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_archived classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Archived "
                      name="setArchived"
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="AnsibleProject_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="AnsibleProject_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_archived classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_archived classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_archived setArchived valueArchived classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputTenantResourceAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_tenantResource">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="AnsibleProject_{{classApiMethodMethod}}_tenantResource_clear"
                        class="label-on-left AnsibleProject_classApiMethodMethod}}_tenantResource_clear tenantResource_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="tenant"
                      label="tenant"
                      hint="The unique authorization resource for the tenant for multi-tenancy"
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_tenantResource valueObjectSuggest suggestTenantResource "
                      name="setTenantResource"
                      id="AnsibleProject_{{classApiMethodMethod}}_tenantResource"
                      data-list="listAnsibleProjectTenantResource_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{{result.tenantResource | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmTenantResourceAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputTenantResourceAnsibleProjectPage(authForWrite=authForWrite, authForRead=authForRead) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a tenant to this ansible project
                </div>
                <ul class="label-on-left-ul " id="listAnsibleProjectTenantResource_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postTenant() }}                  <wa-button
                       id="AnsibleProject_{{classApiMethodMethod}}_tenantResource_add"
                       data-dialog="open postTenantDialog"                      >add a tenant</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputSourceControlTypeAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_sourceControlType">
  {%- endif %}
                  <wa-radio-group
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] source control type"
                      label="source control type"
                      hint="The type of source source control to use. "
                      id="AnsibleProject_{{classApiMethodMethod}}_sourceControlType"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlType setSourceControlType classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlType "
                      name="setSourceControlType"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlType setSourceControlType classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlType "
                      name="setSourceControlType"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlType valueSourceControlType classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlType "
                      name="sourceControlType"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.sourceControlType | e }}"
  {% endif -%}
                      >
                    <wa-radio value="git">Git</wa-radio>
                    <wa-radio value="svn">Subversion</wa-radio>
                    <wa-radio value="insights">Red Hat Insights</wa-radio>
                    <wa-radio value="archive">Remote Archive</wa-radio>
                  </wa-radio-group>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputSourceControlTypeAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputSourceControlUrlAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_sourceControlUrl">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] source control URL"
                      label="source control URL"
                      hint="The URL to the source control repository. "
                      required
                      id="AnsibleProject_{{classApiMethodMethod}}_sourceControlUrl"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlUrl setSourceControlUrl classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlUrl "
                      name="setSourceControlUrl"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlUrl setSourceControlUrl classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlUrl "
                      name="setSourceControlUrl"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlUrl valueSourceControlUrl classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlUrl "
                      name="sourceControlUrl"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.sourceControlUrl | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputSourceControlUrlAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ansibleProjectDescription">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ansible project description"
                      label="ansible project description"
                      hint="The description of the ansible project. "
                      id="AnsibleProject_{{classApiMethodMethod}}_ansibleProjectDescription"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectDescription setAnsibleProjectDescription classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectDescription "
                      name="setAnsibleProjectDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectDescription setAnsibleProjectDescription classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectDescription "
                      name="setAnsibleProjectDescription"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectDescription valueAnsibleProjectDescription classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectDescription "
                      name="ansibleProjectDescription"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.ansibleProjectDescription | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputSourceControlBranchAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_sourceControlBranch">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] source control branch"
                      label="source control branch"
                      hint="The URL to the source control branch. "
                      id="AnsibleProject_{{classApiMethodMethod}}_sourceControlBranch"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlBranch setSourceControlBranch classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlBranch "
                      name="setSourceControlBranch"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlBranch setSourceControlBranch classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlBranch "
                      name="setSourceControlBranch"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_sourceControlBranch valueSourceControlBranch classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}SourceControlBranch "
                      name="sourceControlBranch"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.sourceControlBranch | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputSourceControlBranchAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_jobTemplateResources">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="AnsibleProject_{{classApiMethodMethod}}_jobTemplateResources_clear"
                        class="label-on-left AnsibleProject_classApiMethodMethod}}_jobTemplateResources_clear jobTemplateResources_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="job templates"
                      label="job templates"
                      hint="The related job templates for this Ansible project. "
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_jobTemplateResources valueObjectSuggest suggestJobTemplateResources "
                      name="setJobTemplateResources"
                      id="AnsibleProject_{{classApiMethodMethod}}_jobTemplateResources"
                      data-list="listAnsibleProjectJobTemplateResources_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{{result.jobTemplateResources | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputJobTemplateResourcesAnsibleProjectPage(authForWrite=authForWrite, authForRead=authForRead) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate  to this ansible project
                </div>
                <ul class="label-on-left-ul " id="listAnsibleProjectJobTemplateResources_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postJobTemplate() }}                  <wa-button
                       id="AnsibleProject_{{classApiMethodMethod}}_jobTemplateResources_add"
                       data-dialog="open postJobTemplateDialog"                      >add a job template</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_ansibleProjectName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ansible project name"
                      label="ansible project name"
                      hint="The name of the ansible project (may only contain letters, numbers, periods, colons, and dashes). "
                      id="AnsibleProject_{{classApiMethodMethod}}_ansibleProjectName"
  {%- if "Page" == classApiMethodMethod %}
                      data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectName setAnsibleProjectName classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectName "
                      name="setAnsibleProjectName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectName setAnsibleProjectName classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectName "
                      name="setAnsibleProjectName"
    {%- else %}
                      class="label-on-left {{AnsibleProject_classApiMethodMethod}}_ansibleProjectName valueAnsibleProjectName classAnsibleProject inputAnsibleProject{{ result.ansibleProjectResource }}AnsibleProjectName "
                      name="ansibleProjectName"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.ansibleProjectName | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchAnsibleProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchAnsibleProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchAnsibleProject"
                >Modify ansible project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchAnsibleProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchAnsibleProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchAnsibleProjectDialog" label="Modify ansible project">
          <form id="htmForm_patchAnsibleProject" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="source-control-details">
              <div slot="summary">
                <span>source control details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchAnsibleProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postAnsibleProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postAnsibleProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postAnsibleProject"
                >Create a ansible project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postAnsibleProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postAnsibleProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postAnsibleProjectDialog" label="Create a ansible project">
          <form id="htmForm_postAnsibleProject" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="source-control-details">
              <div slot="summary">
                <span>source control details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postAnsibleProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteAnsibleProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteAnsibleProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteAnsibleProject"
                >Delete ansible project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteAnsibleProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteAnsibleProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteAnsibleProjectDialog" label="Delete ansible project">
          <form id="htmForm_deleteAnsibleProject" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteAnsibleProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportAnsibleProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportAnsibleProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportAnsibleProject"
                >Import ansible projects</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportAnsibleProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportAnsibleProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportAnsibleProjectDialog" label="Import ansible projects">
          <form id="htmForm_putimportAnsibleProject" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'ansibleProjectResource': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportAnsibleProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageAnsibleProject() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageAnsibleProjectDialog" label="Search ansible projects">
          <div id="htmForm_searchpageAnsibleProject" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPkAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCreatedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmModifiedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmArchivedAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="source-control-details">
              <div slot="summary">
                <span>source control details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlTypeAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlUrlAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectDescriptionAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmSourceControlBranchAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourcesAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmAnsibleProjectNameAnsibleProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterAnsibleProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterAnsibleProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterAnsibleProject"
                >Delete ansible project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterAnsibleProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterAnsibleProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterAnsibleProjectDialog" label="Delete ansible project">
          <form id="htmForm_deletefilterAnsibleProject" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterAnsibleProject() }}
        </wa-dialog>
{%- endmacro %}
