
{%- macro htmButton_patchAnsibleProject() %}<wa-button variant="brand" id="htmButton_patchAnsibleProject"  data-dialog="open patchAnsibleProjectDialog" data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmButton_postAnsibleProject() %}<wa-button variant="brand" id="htmButton_postAnsibleProject"  data-dialog="open postAnsibleProjectDialog" data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmButton_deleteAnsibleProject() %}<wa-button variant="brand" id="htmButton_deleteAnsibleProject" data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmButton_putimportAnsibleProject() %}<wa-button variant="brand" id="htmButton_putimportAnsibleProject"  data-dialog="open putimportAnsibleProjectDialog" data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmButton_deletefilterAnsibleProject() %}<wa-button variant="brand" id="htmButton_deletefilterAnsibleProject" data-ansibleProjectResource={{ result.ansibleProjectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}
          <div id="htmSearchForm">
            <wa-scroller>
              <wa-button-group>
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
                <wa-button variant="brand" id="refreshThisAnsibleProjectGenPage"
                     onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'ansibleProjectResource:{{ result.ansibleProjectResource }}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisAnsibleProjectGenPage')); }, function() { addError(document.querySelector('#refreshThisAnsibleProjectGenPage')); }); return false; ">
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                  refresh
                </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
                <wa-button variant="brand" id="refreshAllAnsibleProjectGenPage{{ result.ansibleProjectResource | e }}"
                     onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllAnsibleProjectGenPage{{ result.ansibleProjectResource | e }}')); }, function() { addError(document.querySelector('#refreshAllAnsibleProjectGenPage{{ result.ansibleProjectResource | e }}')); }); "
                    >
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                  refresh all 
                </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if 'PATCH' in scopes %}
  {%- if resultCount > 0 %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_patchAnsibleProject() }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postAnsibleProject() }}
  {%- else %}
    {{ htmButton_postAnsibleProject() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is defined %}
    {{ htmButton_deleteAnsibleProject() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportAnsibleProject() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is not defined %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_deletefilterAnsibleProject() }}
    {%- endif %}
  {%- endif %}
{%- endif %}

              </wa-button-group>
            </wa-scroller>
          </div>
