{%- macro inputPkHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="HostCheck_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_pk setPk classHostCheck inputHostCheck{{ result.checkResource }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_pk setPk classHostCheck inputHostCheck{{ result.checkResource }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_pk valuePk classHostCheck inputHostCheck{{ result.checkResource }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_created datetimepicker setCreated classHostCheck inputHostCheck{{ result.checkResource }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="HostCheck_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-checkResource={{ result.checkResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_modified datetimepicker setModified classHostCheck inputHostCheck{{ result.checkResource }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="HostCheck_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-checkResource={{ result.checkResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="HostCheck_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_archived classHostCheck inputHostCheck{{ result.checkResource }}Archived "
                      name="setArchived"
                      data-checkResource={{ result.checkResource | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="HostCheck_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="HostCheck_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_archived classHostCheck inputHostCheck{{ result.checkResource }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_archived classHostCheck inputHostCheck{{ result.checkResource }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_archived setArchived valueArchived classHostCheck inputHostCheck{{ result.checkResource }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-checkResource={{ result.checkResource | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputTenantResourceHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_tenantResource">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="HostCheck_{{classApiMethodMethod}}_tenantResource_clear"
                        class="label-on-left HostCheck_classApiMethodMethod}}_tenantResource_clear tenantResource_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="tenant"
                      label="tenant"
                      hint="The unique authorization resource for the tenant for multi-tenancy"
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_tenantResource valueObjectSuggest suggestTenantResource "
                      name="setTenantResource"
                      id="HostCheck_{{classApiMethodMethod}}_tenantResource"
                      data-list="listHostCheckTenantResource_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{{result.tenantResource | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmTenantResourceHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputTenantResourceHostCheckPage(authForWrite=authForWrite, authForRead=authForRead) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a tenant to this host check
                </div>
                <ul class="label-on-left-ul " id="listHostCheckTenantResource_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postTenant() }}                  <wa-button
                       id="HostCheck_{{classApiMethodMethod}}_tenantResource_add"
                       data-dialog="open postTenantDialog"                      >add a tenant</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputJobTemplateResourceHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_jobTemplateResource">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="HostCheck_{{classApiMethodMethod}}_jobTemplateResource_clear"
                        class="label-on-left HostCheck_classApiMethodMethod}}_jobTemplateResource_clear jobTemplateResource_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="job template"
                      label="job template"
                      hint="The unique authorization resource for the job template for multi-tenancy"
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_jobTemplateResource valueObjectSuggest suggestJobTemplateResource "
                      name="setJobTemplateResource"
                      id="HostCheck_{{classApiMethodMethod}}_jobTemplateResource"
                      data-list="listHostCheckJobTemplateResource_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{{result.jobTemplateResource | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmJobTemplateResourceHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputJobTemplateResourceHostCheckPage(authForWrite=authForWrite, authForRead=authForRead) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a job template to this host check
                </div>
                <ul class="label-on-left-ul " id="listHostCheckJobTemplateResource_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postJobTemplate() }}                  <wa-button
                       id="HostCheck_{{classApiMethodMethod}}_jobTemplateResource_add"
                       data-dialog="open postJobTemplateDialog"                      >add a job template</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputCheckNameHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] check name"
                      label="check name"
                      hint="The name of the host check (may only contain letters, numbers, periods, colons, and dashes). "
                      required
                      id="HostCheck_{{classApiMethodMethod}}_checkName"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkName setCheckName classHostCheck inputHostCheck{{ result.checkResource }}CheckName "
                      name="setCheckName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkName setCheckName classHostCheck inputHostCheck{{ result.checkResource }}CheckName "
                      name="setCheckName"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkName valueCheckName classHostCheck inputHostCheck{{ result.checkResource }}CheckName "
                      name="checkName"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.checkName | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckNameHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckNameHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCheckDescriptionHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkDescription">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] check description"
                      label="check description"
                      hint="The descrition of the host check. "
                      id="HostCheck_{{classApiMethodMethod}}_checkDescription"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkDescription setCheckDescription classHostCheck inputHostCheck{{ result.checkResource }}CheckDescription "
                      name="setCheckDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkDescription setCheckDescription classHostCheck inputHostCheck{{ result.checkResource }}CheckDescription "
                      name="setCheckDescription"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkDescription valueCheckDescription classHostCheck inputHostCheck{{ result.checkResource }}CheckDescription "
                      name="checkDescription"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.checkDescription | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckDescriptionHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckDescriptionHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCheckNamespaceHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkNamespace">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] check namespace"
                      label="check namespace"
                      hint="The namespace of the host check. "
                      id="HostCheck_{{classApiMethodMethod}}_checkNamespace"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkNamespace setCheckNamespace classHostCheck inputHostCheck{{ result.checkResource }}CheckNamespace "
                      name="setCheckNamespace"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkNamespace setCheckNamespace classHostCheck inputHostCheck{{ result.checkResource }}CheckNamespace "
                      name="setCheckNamespace"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkNamespace valueCheckNamespace classHostCheck inputHostCheck{{ result.checkResource }}CheckNamespace "
                      name="checkNamespace"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.checkNamespace | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckNamespaceHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckNamespaceHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCheckCommandHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkCommand">
  {%- endif %}
                  <wa-textarea resize="auto"
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] check command"
                      label="check command"
                      hint="The bash command to run during the check. "
                      id="HostCheck_{{classApiMethodMethod}}_checkCommand"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkCommand setCheckCommand classHostCheck inputHostCheck{{ result.checkResource }}CheckCommand "
                      name="setCheckCommand"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkCommand setCheckCommand classHostCheck inputHostCheck{{ result.checkResource }}CheckCommand "
                      name="setCheckCommand"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkCommand valueCheckCommand classHostCheck inputHostCheck{{ result.checkResource }}CheckCommand "
                      name="checkCommand"
    {%- endif %}
  {%- endif %}
{% if "Page" == classApiMethodMethod -%}
                      value="{{result.checkCommand | e }}"
{% endif -%}
                      >
</wa-textarea>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckCommandHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckCommandHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCheckIntervalHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkInterval">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[Integer] check interval in seconds"
                      label="check interval in seconds"
                      type="number"
                      hint="The check interval in seconds. "
                      id="HostCheck_{{classApiMethodMethod}}_checkInterval"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkInterval setCheckInterval classHostCheck inputHostCheck{{ result.checkResource }}CheckInterval "
                      name="setCheckInterval"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkInterval setCheckInterval classHostCheck inputHostCheck{{ result.checkResource }}CheckInterval "
                      name="setCheckInterval"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkInterval valueCheckInterval classHostCheck inputHostCheck{{ result.checkResource }}CheckInterval "
                      name="checkInterval"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.checkInterval | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckIntervalHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckIntervalHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCheckPublishedHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_checkPublished">
  {%- endif %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="HostCheck_{{classApiMethodMethod}}_checkPublished"
                      value="true"
  {%- else %}
                  <wa-select
                      id="HostCheck_{{classApiMethodMethod}}_checkPublished"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="check published"
                      label="check published"
                      hint="When disabled the check will not be executed unless explicitly queued. "
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkPublished classHostCheck inputHostCheck{{ result.checkResource }}CheckPublished "
                      name="setCheckPublished"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkPublished classHostCheck inputHostCheck{{ result.checkResource }}CheckPublished "
                      name="setCheckPublished"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_checkPublished setCheckPublished valueCheckPublished classHostCheck inputHostCheck{{ result.checkResource }}CheckPublished "
                      name="setCheckPublished"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.checkPublished == true %}
                      checked
    {%- endif %}
                      data-checkResource={{ result.checkResource | tojson }}
                      >check published</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCheckPublishedHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCheckPublishedHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputEventSubscriptionsHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_eventSubscriptions">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[List] event subscriptions"
                      label="event subscriptions"
                      hint="The list of event subscriptions the host check subscribes to. "
                      id="HostCheck_{{classApiMethodMethod}}_eventSubscriptions"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventSubscriptions setEventSubscriptions classHostCheck inputHostCheck{{ result.checkResource }}EventSubscriptions "
                      name="setEventSubscriptions"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventSubscriptions setEventSubscriptions classHostCheck inputHostCheck{{ result.checkResource }}EventSubscriptions "
                      name="setEventSubscriptions"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventSubscriptions valueEventSubscriptions classHostCheck inputHostCheck{{ result.checkResource }}EventSubscriptions "
                      name="eventSubscriptions"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{ toJsonArrayString(result.eventSubscriptions) | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmEventSubscriptionsHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputEventSubscriptionsHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputEventHandlersHostCheckPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_eventHandlers">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[List] event handlers"
                      label="event handlers"
                      hint="The list of event handlers the host subscribes to. "
                      id="HostCheck_{{classApiMethodMethod}}_eventHandlers"
  {%- if "Page" == classApiMethodMethod %}
                      data-checkResource={{ result.checkResource | tojson }}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventHandlers setEventHandlers classHostCheck inputHostCheck{{ result.checkResource }}EventHandlers "
                      name="setEventHandlers"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventHandlers setEventHandlers classHostCheck inputHostCheck{{ result.checkResource }}EventHandlers "
                      name="setEventHandlers"
    {%- else %}
                      class="label-on-left {{HostCheck_classApiMethodMethod}}_eventHandlers valueEventHandlers classHostCheck inputHostCheck{{ result.checkResource }}EventHandlers "
                      name="eventHandlers"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{ toJsonArrayString(result.eventHandlers) | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmEventHandlersHostCheckPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputEventHandlersHostCheckPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchHostCheck() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchHostCheck" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchHostCheck"
                >Modify host check</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchHostCheck"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchHostCheck() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchHostCheckDialog" label="Modify host check">
          <form id="htmForm_patchHostCheck" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="job-template-details">
              <div slot="summary">
                <span>job template details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="host-check-details">
              <div slot="summary">
                <span>host check details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchHostCheck() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postHostCheck() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postHostCheck" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postHostCheck"
                >Create a host check</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postHostCheck"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postHostCheck() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postHostCheckDialog" label="Create a host check">
          <form id="htmForm_postHostCheck" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="job-template-details">
              <div slot="summary">
                <span>job template details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="host-check-details">
              <div slot="summary">
                <span>host check details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postHostCheck() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteHostCheck() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteHostCheck" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteHostCheck"
                >Delete host check</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteHostCheck"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteHostCheck() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteHostCheckDialog" label="Delete host check">
          <form id="htmForm_deleteHostCheck" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteHostCheck() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportHostCheck() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportHostCheck" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportHostCheck"
                >Import host checks</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportHostCheck"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportHostCheck() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportHostCheckDialog" label="Import host checks">
          <form id="htmForm_putimportHostCheck" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'checkResource': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportHostCheck() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageHostCheck() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageHostCheckDialog" label="Search host checks">
          <div id="htmForm_searchpageHostCheck" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPkHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCreatedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmModifiedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmArchivedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="tenant-details">
              <div slot="summary">
                <span>tenant details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmTenantResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="job-template-details">
              <div slot="summary">
                <span>job template details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmJobTemplateResourceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="host-check-details">
              <div slot="summary">
                <span>host check details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNameHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckDescriptionHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckNamespaceHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckCommandHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckIntervalHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCheckPublishedHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventSubscriptionsHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmEventHandlersHostCheckPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterHostCheck() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterHostCheck" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterHostCheck"
                >Delete host check</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterHostCheck"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterHostCheck() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterHostCheckDialog" label="Delete host check">
          <form id="htmForm_deletefilterHostCheck" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterHostCheck() }}
        </wa-dialog>
{%- endmacro %}
