{% include en-us/search/host-check/HostCheckSearchFormMacros.htm %}
{% include en-us/search/tenant/TenantSearchFormMacros.htm %}
{% include en-us/search/job-template/JobTemplateSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchHostCheck() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postHostCheck() }}
  {%- else %}
    {{ htmForm_postHostCheck() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteHostCheck() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportHostCheck() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterHostCheck() }}
  {%- else %}
  {%- endif %}
{%- endif %}
