{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleRequestApprovalPage %}
    <title>{% if resultCount == 0 %}no request approval found{% else %}request approvals{% endif %}</title>
{%- endblock htmTitleRequestApprovalPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/approval/RequestApproval.css"/>
{%- block htmStylesRequestApprovalPage %}
{%- endblock htmStylesRequestApprovalPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleRequestApprovalPage %}
{%- endblock htmStyleRequestApprovalPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsRequestApprovalPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/approval/RequestApproval.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/approval/RequestApprovalSearchPage.js"></script>
{%- endblock htmScriptsRequestApprovalPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptRequestApprovalPage %}
    <script>

      function jsWebsocketRequestApproval(approvalId, vars, $response) {
{%- block jsWebsocketRequestApprovalPage %}{%- endblock %}
      }

      function jsTooltipRequestApproval(e, feature) {
{%- block jsTooltipRequestApprovalPage %}{%- endblock %}
      }

      function htmTooltipRequestApproval(feature, layer) {
        return `{%- block htmTooltipRequestApprovalPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.approvalTitle}</a></h3>
{%- endblock htmTooltipRequestApprovalPage %}`;
      }

      function facetChangeRequestApprovalSuccess(e) {
        var l = e.querySelector('.pageForm .listRequestApproval')?.value;
        if(l)
          window.listRequestApproval = JSON.parse(l);
{% block facetChangeRequestApprovalSuccess %}{%- endblock facetRequestApprovalSuccess %}
      }
      function facetChangeRequestApprovalError(e) {
{% block facetChangeRequestApprovalError %}{%- endblock facetRequestApprovalError %}
      }

      function facetSimpleRangeRequestApprovalSuccess(e) {
{% block facetSimpleRangeRequestApprovalSuccess %}      facetChangeRequestApprovalSuccess(e);{% endblock facetSimpleRangeRequestApprovalSuccess %}
      }
      function facetSimpleRangeRequestApprovalError(e) {
{% block facetSimpleRangeRequestApprovalError %}      facetChangeRequestApprovalError(e);{% endblock facetSimpleRangeRequestApprovalError %}
      }
      function facetSimpleRangeRequestApproval(e) {
        facetSimpleRange(e, facetSimpleRangeRequestApprovalSuccess, facetSimpleRangeRequestApprovalError);
      }

      function facetRangeTimeZoneRequestApprovalSuccess(e) {
{% block facetRangeTimeZoneRequestApprovalSuccess %}      facetChangeRequestApprovalSuccess(e);{% endblock facetRangeTimeZoneRequestApprovalSuccess %}
      }
      function facetRangeTimeZoneRequestApprovalError(e) {
{% block facetRangeTimeZoneRequestApprovalError %}      facetChangeRequestApprovalError(e);{%- endblock facetRangeTimeZoneRequestApprovalError %}
      }
      function facetRangeTimeZoneRequestApproval(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneRequestApprovalSuccess, facetRangeTimeZoneRequestApprovalError);
      }

      function facetRangeGapChangeRequestApprovalSuccess(e) {
{% block facetRangeGapChangeRequestApprovalSuccess %}      facetChangeRequestApprovalSuccess(e);{% endblock facetRangeGapChangeRequestApprovalSuccess %}
      }
      function facetRangeGapChangeRequestApprovalError(e) {
{% block facetRangeGapChangeRequestApprovalError %}      facetChangeRequestApprovalError(e);{%- endblock facetRangeGapChangeRequestApprovalError %}
      }
      function facetRangeGapChangeRequestApproval(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeRequestApprovalSuccess, facetRangeGapChangeRequestApprovalError);
      }

      function facetRangeStartChangeRequestApprovalSuccess(e) {
{% block facetRangeStartChangeRequestApprovalSuccess %}      facetChangeRequestApprovalSuccess(e);{% endblock facetRangeStartChangeRequestApprovalSuccess %}
      }
      function facetRangeStartChangeRequestApprovalError(e) {
{% block facetRangeStartChangeRequestApprovalError %}      facetChangeRequestApprovalError(e);{%- endblock facetRangeStartChangeRequestApprovalError %}
      }
      function facetRangeStartChangeRequestApproval(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeRequestApprovalSuccess, facetRangeStartChangeRequestApprovalError);
      }

      function facetRangeEndChangeRequestApprovalSuccess(e) {
{% block facetRangeEndChangeRequestApprovalSuccess %}      facetChangeRequestApprovalSuccess(e);{% endblock facetRangeEndChangeRequestApprovalSuccess %}
      }
      function facetRangeEndChangeRequestApprovalError(e) {
{% block facetRangeEndChangeRequestApprovalError %}      facetChangeRequestApprovalError(e);{%- endblock facetRangeEndChangeRequestApprovalError %}
      }
      function facetRangeEndChangeRequestApproval(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeRequestApprovalSuccess, facetRangeEndChangeRequestApprovalError);
      }
    </script>
    <script type="module">
{% if location is defined %}
      window.mapLocation = { type: 'Point', coordinates: [ {{ location.coordinates[0] }}, {{ location.coordinates[1] }} ]};
{% endif %}
{% if zoom is defined %}
      window.mapZoom = {{ zoom }};
{% endif %}
{% if pitch is defined %}
      window.mapPitch = {{ toDegree(pitch) }};
{% endif %}
      window.STATIC_BASE_URL = '{{ STATIC_BASE_URL }}';
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var approvalId = {% if result.approvalId is defined %}{{ result.approvalId | tojson }}{% else %}null{% endif %};

        if(approvalId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.approvalId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listRequestApproval')?.value;
        if(l)
          window.listRequestApproval = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneRequestApproval);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneRequestApproval);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneRequestApproval);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeRequestApproval);
        pageGraphRequestApproval();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qRequestApproval_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('RequestApproval', event.target, document.querySelector('#qRequestApprovalDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qRequestApproval_rows')?.addEventListener('change', event => {
          paramChange('RequestApproval', event.target, document.querySelector('#qRequestApprovalDiv_rows'));
        });

        document.querySelector('#qRequestApproval_start')?.addEventListener('change', event => {
          paramChange('RequestApproval', event.target, document.querySelector('#qRequestApprovalDiv_start'));
        });


        var submitForm_patchRequestApproval = document.querySelector('#htmForm_patchRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          patchRequestApproval(null, document.querySelector('#htmForm_patchRequestApproval')
              , document.querySelector('#htmFormButton_patchRequestApproval')
              , event.target.getAttribute('data-approvalId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_postRequestApproval = document.querySelector('#htmForm_postRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          postRequestApproval(document.querySelector('#htmForm_postRequestApproval')
              , document.querySelector('#htmFormButton_postRequestApproval')
              , (json, target) => {
            window.location.href = json.editPage;
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deleteRequestApproval = document.querySelector('#htmForm_deleteRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deleteRequestApproval(event.target, event.target.getAttribute('data-approvalId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_putimportRequestApproval = document.querySelector('#htmForm_putimportRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          putimportRequestApproval(document.querySelector('#htmForm_putimportRequestApproval')
              , document.querySelector('#htmFormButton_putimportRequestApproval')
              , event.target.getAttribute('data-approvalId')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_searchpageRequestApproval = document.querySelector('#htmForm_searchpageRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          searchpageRequestApproval();
          return false;
        });

        var submitForm_deletefilterRequestApproval = document.querySelector('#htmForm_deletefilterRequestApproval')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deletefilterRequestApproval(event.target
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });
{%- block htmScriptInitRequestApprovalPage %}{%- endblock htmScriptInitRequestApprovalPage %}
      });
    </script>
{%- endblock htmScriptRequestApprovalPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketRequestApprovalPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketRequestApproval(websocketRequestApprovalInner);
{% endif %}
{%- endblock websocketRequestApprovalPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlRequestApprovalPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlRequestApprovalPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-RequestApproval">back to all request approvals</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-RequestApproval" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-thumbs-up"></i>
                  all request approvals
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search request approvals
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartRequestApprovalPage %}
{% include en-us/search/approval/RequestApprovalSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-RequestApproval">back to all request approvals</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-RequestApproval" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-thumbs-up"></i>
              all request approvals
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no request approval found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-thumbs-up"></i>
            </div>
            <span class="wa-heading-m ">no request approval found</span>
            <p class="wa-caption-l ">Individual approvals per request and per approver. </p>
          </div>
        </div>
{% else %}
{% include en-us/search/approval/RequestApprovalSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/approval" id="RequestApprovalForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listRequestApproval" id="listRequestApproval" class="listRequestApproval"  value='{{ toJsonArrayStringInApostrophes(listRequestApproval) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{% include en-us/search/approval/RequestApprovalSearchForm.htm %}
{%- endblock htmBodyStartRequestApprovalPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/approval/RequestApprovalSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/approval/RequestApprovalSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleRequestApprovalPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/approval/RequestApprovalPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-approvalName">
                      <wa-button variant="brand" slot="trigger" caret>approval name</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortRequestApproval_approvalName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-RequestApproval').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-approvalName-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by approval name ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortRequestApproval_approvalName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-RequestApproval').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-approvalName-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by approval name descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-approvalNote">
                      <wa-button variant="brand" slot="trigger" caret>approval note</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortRequestApproval_approvalNote'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-RequestApproval').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-approvalNote-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          sort by approval note ascending
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortRequestApproval_approvalNote'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-RequestApproval').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-approvalNote-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          sort by approval note descending
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listRequestApproval%}
                  <div>
                    <a href="{{ item.displayPage }}">
                      <i class="{{ FONTAWESOME_STYLE }} fa-thumbs-up"></i>
                      <span>{{ item.approvalName | e }}</span>
                    </a>
                    <a href="{{ item.displayPage }}">
                      <span>{{ item.approvalNote | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnApprovalName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnApprovalNote is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/approval/RequestApprovalPaginationButtons.htm %}
              </div>
{% endif %}
{%- endblock htmBodyMiddleRequestApprovalPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndRequestApprovalPage %}
{%- include en-us/search/approval/RequestApprovalLocation.htm %}
            </div>
          </div>
{%- endblock htmBodyEndRequestApprovalPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
