{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleTenantRealizedPage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleTenantRealizedPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/requested/tenant/TenantRealized.css"/>
{%- block htmStylesTenantRealizedPage %}
{%- endblock htmStylesTenantRealizedPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleTenantRealizedPage %}
{%- endblock htmStyleTenantRealizedPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsTenantRealizedPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/requested/tenant/TenantRealized.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/requested/tenant/TenantRealizedSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/requested/tenant/TenantRealizedEditPage.js"></script>
{%- endblock htmScriptsTenantRealizedPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptTenantRealizedPage %}
    <script>

      function jsWebsocketTenantRealized(tenantResource, vars, $response) {
{%- block jsWebsocketTenantRealizedPage %}{%- endblock %}
      }

      function jsTooltipTenantRealized(e, feature) {
{%- block jsTooltipTenantRealizedPage %}{%- endblock %}
      }

      function htmTooltipTenantRealized(feature, layer) {
        return `{%- block htmTooltipTenantRealizedPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipTenantRealizedPage %}`;
      }

      function facetChangeTenantRealizedSuccess(e) {
        var l = e.querySelector('.pageForm .listTenantRealized')?.value;
        if(l)
          window.listTenantRealized = JSON.parse(l);
{% block facetChangeTenantRealizedSuccess %}{%- endblock facetTenantRealizedSuccess %}
      }
      function facetChangeTenantRealizedError(e) {
{% block facetChangeTenantRealizedError %}{%- endblock facetTenantRealizedError %}
      }

      function facetSimpleRangeTenantRealizedSuccess(e) {
{% block facetSimpleRangeTenantRealizedSuccess %}      facetChangeTenantRealizedSuccess(e);{% endblock facetSimpleRangeTenantRealizedSuccess %}
      }
      function facetSimpleRangeTenantRealizedError(e) {
{% block facetSimpleRangeTenantRealizedError %}      facetChangeTenantRealizedError(e);{% endblock facetSimpleRangeTenantRealizedError %}
      }
      function facetSimpleRangeTenantRealized(e) {
        facetSimpleRange(e, facetSimpleRangeTenantRealizedSuccess, facetSimpleRangeTenantRealizedError);
      }

      function facetRangeTimeZoneTenantRealizedSuccess(e) {
{% block facetRangeTimeZoneTenantRealizedSuccess %}      facetChangeTenantRealizedSuccess(e);{% endblock facetRangeTimeZoneTenantRealizedSuccess %}
      }
      function facetRangeTimeZoneTenantRealizedError(e) {
{% block facetRangeTimeZoneTenantRealizedError %}      facetChangeTenantRealizedError(e);{%- endblock facetRangeTimeZoneTenantRealizedError %}
      }
      function facetRangeTimeZoneTenantRealized(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneTenantRealizedSuccess, facetRangeTimeZoneTenantRealizedError);
      }

      function facetRangeGapChangeTenantRealizedSuccess(e) {
{% block facetRangeGapChangeTenantRealizedSuccess %}      facetChangeTenantRealizedSuccess(e);{% endblock facetRangeGapChangeTenantRealizedSuccess %}
      }
      function facetRangeGapChangeTenantRealizedError(e) {
{% block facetRangeGapChangeTenantRealizedError %}      facetChangeTenantRealizedError(e);{%- endblock facetRangeGapChangeTenantRealizedError %}
      }
      function facetRangeGapChangeTenantRealized(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeTenantRealizedSuccess, facetRangeGapChangeTenantRealizedError);
      }

      function facetRangeStartChangeTenantRealizedSuccess(e) {
{% block facetRangeStartChangeTenantRealizedSuccess %}      facetChangeTenantRealizedSuccess(e);{% endblock facetRangeStartChangeTenantRealizedSuccess %}
      }
      function facetRangeStartChangeTenantRealizedError(e) {
{% block facetRangeStartChangeTenantRealizedError %}      facetChangeTenantRealizedError(e);{%- endblock facetRangeStartChangeTenantRealizedError %}
      }
      function facetRangeStartChangeTenantRealized(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeTenantRealizedSuccess, facetRangeStartChangeTenantRealizedError);
      }

      function facetRangeEndChangeTenantRealizedSuccess(e) {
{% block facetRangeEndChangeTenantRealizedSuccess %}      facetChangeTenantRealizedSuccess(e);{% endblock facetRangeEndChangeTenantRealizedSuccess %}
      }
      function facetRangeEndChangeTenantRealizedError(e) {
{% block facetRangeEndChangeTenantRealizedError %}      facetChangeTenantRealizedError(e);{%- endblock facetRangeEndChangeTenantRealizedError %}
      }
      function facetRangeEndChangeTenantRealized(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeTenantRealizedSuccess, facetRangeEndChangeTenantRealizedError);
      }
    </script>
    <script type="module">
{% if location is defined %}
      window.mapLocation = { type: 'Point', coordinates: [ {{ location.coordinates[0] }}, {{ location.coordinates[1] }} ]};
{% endif %}
{% if zoom is defined %}
      window.mapZoom = {{ zoom }};
{% endif %}
{% if pitch is defined %}
      window.mapPitch = {{ toDegree(pitch) }};
{% endif %}
      window.STATIC_BASE_URL = '{{ STATIC_BASE_URL }}';
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {
        window.FONTAWESOME_STYLE = document.querySelector('.pageForm .FONTAWESOME_STYLE')?.value;

        var tenantResource = {% if result.tenantResource is defined %}{{ result.tenantResource | tojson }}{% else %}null{% endif %};

        if(tenantResource == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.tenantResource is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listTenantRealized')?.value;
        if(l)
          window.listTenantRealized = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantRealized);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneTenantRealized);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneTenantRealized);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeTenantRealized);
        pageGraphTenantRealized();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qTenantRealized_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('TenantRealized', event.target, document.querySelector('#qTenantRealizedDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qTenantRealized_rows')?.addEventListener('change', event => {
          paramChange('TenantRealized', event.target, document.querySelector('#qTenantRealizedDiv_rows'));
        });

        document.querySelector('#qTenantRealized_start')?.addEventListener('change', event => {
          paramChange('TenantRealized', event.target, document.querySelector('#qTenantRealizedDiv_start'));
        });


        var submitForm_patchTenantRealized = document.querySelector('#htmForm_patchTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          patchTenantRealized(null, document.querySelector('#htmForm_patchTenantRealized')
              , document.querySelector('#htmFormButton_patchTenantRealized')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_postTenantRealized = document.querySelector('#htmForm_postTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          postTenantRealized(document.querySelector('#htmForm_postTenantRealized')
              , document.querySelector('#htmFormButton_postTenantRealized')
              , (json, target) => {
            window.location.href = json.editPage;
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_deleteTenantRealized = document.querySelector('#htmForm_deleteTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deleteTenantRealized(event.target, event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_putimportTenantRealized = document.querySelector('#htmForm_putimportTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          putimportTenantRealized(document.querySelector('#htmForm_putimportTenantRealized')
              , document.querySelector('#htmFormButton_putimportTenantRealized')
              , event.target.getAttribute('data-tenantResource')
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });

        var submitForm_searchpageTenantRealized = document.querySelector('#htmForm_searchpageTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          searchpageTenantRealized();
          return false;
        });

        var submitForm_deletefilterTenantRealized = document.querySelector('#htmForm_deletefilterTenantRealized')?.addEventListener('submit', event => {
          event.preventDefault();
          event.target.setAttribute('loading', true);
          deletefilterTenantRealized(event.target
              , (json, target) => {
            
          }, (response, target) => {
            event.target.removeAttribute('loading');
            addErrorJson(event.target);
            if(response.ok) {
              response.json().then(json => {
                document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
              });
            } else {
              if(response.status === 405 || response.status === 401) {
                document.querySelector('wa-page > wa-toast').create('You are no longer signed in, please refresh the page and sign in again. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else if(response.status === 403) {
                document.querySelector('wa-page > wa-toast').create('You are not authorized to access this resource. ', {size: 'danger', icon: 'triangle-exclamation'});
              } else {
                response.json().then(json => {
                  document.querySelector('wa-page > wa-toast').create(json?.error?.message, {size: 'danger', icon: 'triangle-exclamation'});
                }).catch(error => {
                  document.querySelector('wa-page > wa-toast').create('An unknown error occured. ', {size: 'danger', icon: 'triangle-exclamation'});
                });
              }
            }
          });
          return false;
        });
{%- block htmScriptInitTenantRealizedPage %}{%- endblock htmScriptInitTenantRealizedPage %}
      });
    </script>
{%- endblock htmScriptTenantRealizedPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketTenantRealizedPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketTenantRealized(websocketTenantRealizedInner);
{% endif %}
{%- endblock websocketTenantRealizedPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlTenantRealizedPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlTenantRealizedPage %}

{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/requested/tenant/TenantRealizedSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/requested/tenant/TenantRealizedSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-TenantRealized">back to all requested tenants</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-TenantRealized" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
                  all requested tenants
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  a requested tenant
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartTenantRealizedPage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <h1 class="Page_objectTitle"><i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i> {{ result.objectTitle | e }}</h1>
          </div>
{% endif %}
{% include en-us/search/requested/tenant/TenantRealizedSearchForm.htm %}
{%- endblock htmBodyStartTenantRealizedPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleTenantRealizedPage %}
{%- include en-us/search/requested/tenant/TenantRealizedSidebar.htm %}
        <div class="pageContent ">
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-TenantRealized">back to all requested tenants</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-TenantRealized" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
              all requested tenants
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no requested tenant found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="{{ FONTAWESOME_STYLE }} fa-buildings"></i>
            </div>
            <span class="wa-heading-m ">no requested tenant found</span>
            <p class="wa-caption-l ">Requesting a change to create a new Tenant, or modify an existing Tenant. Tenants are separate organizations sharing the same cloud resources. </p>
          </div>
        </div>
{% else %}
{%- include en-us/search/requested/tenant/TenantRealizedSuggestedSearch.htm %}
{% endif %}
{%- block htmFormTenantRealizedPage %}
          <form action="/en-us/api/intent/requested" id="TenantRealizedForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
            <input name="FONTAWESOME_STYLE" class="FONTAWESOME_STYLE" type="hidden" value="{{ FONTAWESOME_STYLE }}"/>
{% if result.tenantResource is defined %}
            <input name="tenantResource" class="valueTenantResource" type="hidden" value="{{ result.tenantResource }}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listTenantRealized" id="listTenantRealized" class="listTenantRealized"  value='{{ toJsonArrayStringInApostrophes(listTenantRealized) }}' type="hidden"/>
          </form>
{%- if resultCount >= 1 %}
          {{ htmForm_searchpageTenantRealized() }}
{% endif -%}
{%- endblock htmFormTenantRealizedPage %}
        </div>
{%- endblock htmBodyMiddleTenantRealizedPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndTenantRealizedPage %}
{%- include en-us/search/requested/tenant/TenantRealizedLocation.htm %}
{%- endblock htmBodyEndTenantRealizedPage %}
      {{ super() }}
{%- endblock htmBodyEndPageLayout %}
